@model totalhr.web.ViewModels.TimeRecordingVM

@{
    ViewBag.Title = "Record Time";
}

<h2>RecordTime</h2>
@{
    //  var culture = System.Globalization.CultureInfo.CurrentUICulture;
    //var defaultStartDate = (Model.StartTime > DateTime.MinValue) ? Model.StartTime.ToString(culture) : DateTime.Now.ToString(culture);
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <fieldset>
            <legend>TimeRecordingViewModel</legend>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.TypeId)
            @Html.HiddenFor(model => model.TaskRef)
            @Html.HiddenFor(model => model.UserId)

            <div class="editor-label">
                @Html.LabelFor(model => model.StartTime)
            </div>
            <div class="editor-field">
                @*@Html.EditorFor(model => model.StartTime, new { @class = "dp" })*@
                @Html.TextBoxFor(x => x.StartTime, "", new { @class = "datetype", onclick = "javascript:NewCal('StartTime','ddmmyyyy',true,24)" })


                @Html.ValidationMessageFor(model => model.StartTime)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.EndTime)
            </div>
            <div class="editor-field">
                @*@Html.EditorFor(model => model.EndTime)*@
                @Html.TextBoxFor(x => x.EndTime, "", new { @class = "datetype", onclick = "javascript:NewCal('EndTime','ddmmyyyy',true,24)" })
                @Html.ValidationMessageFor(model => model.EndTime)

            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>


        if (Model.TaskRef != null)
        {
            <div>
                @Html.ActionLink("Back to Task Details", "Details", "Task", new { id = Model.TaskRef }, null)
            </div>
        }
        else
        {
            <div>
                @if (Model.Id > 0)
                {
                    @Html.ActionLink("Back to Details", "Details", new { id = Model.Id })

                }
                @Html.ActionLink("Back to Time Recording Home", "Index")
            </div>

        }


        @*@section Scripts{
            @Scripts.Render("~/bundles/jqueryval")

            }*@
    }
    else
    {
        <div class="error-message">
            @Html.DisplayFor(model => model.ErrorMessage)
            @Html.ActionLink("Back to Time Recording Home", "Index")
        </div>
    }
}

<script type="text/javascript" src="/Scripts/Site/DatePicker.js"></script>