@using totalhr.Resources;
@using totalhr.web.Areas.Admin.Helpers;
@using totalhr.web.Areas.Admin.Models;

@model IEnumerable<totalhr.data.EF.Profile>

@{
    ViewBag.Title = AdminGeneric.V_Profile_Management;

    var breadCrumbItems = new List<BreadCrumbItem>
    {
        new BreadCrumbItem{Url = "", Text = AdminGeneric.V_Profile_Management, Title= AdminGeneric.V_Profile_Management}
    }; 
 }

@section pagetitle{
   @AdminGeneric.V_Profile_Management
}


 <div class="row-fluid">
     <p>
         @AdminGeneric.V_List_Of_Profiles_Intro
     </p>
 </div>

 <div class="widget">
        <div class="widget-title">
            <h4><i class="icon-reorder"></i>@AdminGeneric.V_Profile_List</h4>
            <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>
                <a href="javascript:;" class="icon-remove"></a>
            </span>
        </div>
        <div class="widget-body">            
            <table class="table table-striped table-bordered" id="sample_1">
                <thead>     
       
                    <tr>
                        <th>@AdminGeneric.V_Name</th>
                        <th>@AdminGeneric.V_Description</th>
                        <th>@AdminGeneric.V_Created_On</th>
                        <th>@AdminGeneric.V_Created_By</th>
                        <th>@AdminGeneric.V_Last_Modified_By</th>
                        <th>@AdminGeneric.V_Last_Modified</th>
                        <th>@AdminGeneric.V_Users</th>
                    </tr>
            </thead>
            <tbody>
                @foreach(var profile in Model){
                <tr>
                    <td>
                       @profile.Name
                    </td>
                    <td>
                       @totalhr.web.Helpers.GenericHelper.ShortenString(profile.Description, 50)
                    </td>
                    <td>
                        @profile.Created.ToShortDateString()               
                    </td>
                    <td>
                        @(profile.User.firstname + " " + profile.User.surname)
                    </td>
                    <td>
                        @profile.LastModified
                    </td>
                    <td>
                        @((profile.LastModifiedBy != null)? profile.User1.firstname + " " + profile.User1.surname : "")
                    </td>
                    <td>
                        <input type="button" class="edit" value="@AdminGeneric.V_View_Users" onclick="NavigateTo('/Admin/Profile/ViewUsers/@profile.id');" />
                    </td>
                </tr>            
                }
            </tbody>
        </table>
    </div>
</div>


