
@using totalhr.Resources;
@using totalhr.web.Areas.Admin.Helpers;

@model IEnumerable<totalhr.data.EF.User>

@{
    ViewBag.Title = AdminGeneric.V_Profile_Management + " - (" +AdminGeneric.V_Profile_Management_UserList + ")";
    bool bShowList = Model != null && Model.Count() > 0;
 }

@section breadcrumb{
    <a href="/Admin/" title="Home">@AdminGeneric.V_Home</a> &gt;
    <a href="/Admin/Profile/" title="@AdminGeneric.V_Profile_List">@AdminGeneric.V_Profile_List</a> &gt;
    <span class="last">@ViewBag.ProfileName</span>
}

    <h1>@AdminGeneric.V_Profile_Management - (@AdminGeneric.V_Profile_Management_UserList)</h1>

    <div class="wide">
        <p>
            @Html.Raw(string.Format(AdminGeneric.V_Users_In_Profile_X, ViewBag.ProfileName))
        </p>
    </div>

    <div  class="wide">

       @if(bShowList){
        <table border="1" class="tabsimple">
            <tr>
                <th>@Account.V_UserId</th>
                <th>@Account.V_User_FullName</th>
                <th>@Account.V_Email</th>
                <th>@Account.V_UserName</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            @foreach(var user in Model){
            <tr>
                <td>
                   @user.id
                </td>
                <td>
                   @(user.firstname +  " " + user.surname)
                </td>
                
                <td>
                    @user.email               
                </td>
                <td>
                    @user.username
                </td>               
                <td>
                    <input type="button" class="edit" value="@AdminGeneric.V_More_Details" onclick="javascript:OpenEmployeeProfile('@user.userguid');" />
                </td>
                <td>
                    <input style="display:none" type="button" class="edit" value="@AdminGeneric.V_Manage_Profiles" onclick="javascript:NavigateTo('/Admin/Profile/ManageUserProfiles/@user.userguid');" />
                    <a href="/Admin/Profile/ManageUserProfiles/?guid=@user.userguid" title="@AdminGeneric.V_Manage_Profiles" >@AdminGeneric.V_Manage_Profiles</a>
                </td>
            </tr>            
            }
        </table>
       }else{
           <p class="error">
            @AdminGeneric.Error_No_User_Under_Profile
               </p>   
       }

    </div>

    <div class="wide">
        <p>
            <input type="button" value="Back To List" onclick="javascript:NavigateTo('/Admin/Profile')" />
           </p>
    </div>
   


