@using totalhr.Resources;
@using totalhr.web.Helpers;
@using totalhr.data.EF;
@using totalhr.Shared;

@model totalhr.Shared.Models.DocumentInfo

@{
    ViewBag.Title = GenericHelper.WebsiteName + " | " + Document.V_Document_title;
    List<CompanyFolder> folders = new List<CompanyFolder>
    {
        new CompanyFolder{DisplayName= "Test Folder", Id = 1}
    };
    int CompanyId = Convert.ToInt32(ViewBag.CompanyId);
}

@section scripts{
    <script type="text/javascript" src="/Scripts/Site/CompanyDocument.js"></script>

}

<div id="main">
    <div class="content">

        <h1>@Document.V_Create_New</h1>

        @using (Html.BeginForm("CreateDocument", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
        { 
         @Html.ValidationSummary();
         
            <div class="formdiv midform">
                <div class="wrapper">

                     <div class="line">
                        <label>@Document.V_DisplayName <b class="req">*</b></label>
                         <span>@Html.TextBoxFor(x => x.DisplayName, new {size="40", maxlength="250"})</span>                    
                    </div>
                    <div class="line">
                        <label>@Document.V_Folder</label>
                         <span>@Html.DropDownListFor(x => x.FolderId,  new SelectList(folders, "Id", "DisplayName"))
                            <input type="button" value="Add New" onclick="OpenSelectorForFolder();" />
                         </span> 
                                           
                    </div>
                    <div class="line">
                        <label>@Document.v_File <b class="req">*</b></label>
                         <span>
                             <input type="file" id="fileToUpload" name="File" />
                         </span>                    
                    </div>
                     <div class="line">
                        <label>Permissions <b class="req">*</b></label>
                         <span>
                             @Html.Raw(DocumentHelper.GetDocumentPermissionType())
                         </span>                    
                    </div>
                    <div class="line">
                        <label>&nbsp;</label>
                         <span>
                             <input type="submit" id="btnSubmit" value="@Document.V_Upload" />
                         </span>                    
                    </div>

                </div>
            </div>
         
        }
    </div>
</div>
<script type="text/javascript">
    var CompanyId = @CompanyId;
    var WHOLE_COMPANY = @((int)Variables.DocumentPermissionType.WholeCompany);
    var SELECTED_USERS = @((int)Variables.DocumentPermissionType.SelectedUsers);
    var DEPARTMENT = @((int)Variables.DocumentPermissionType.Department);
</script>

<div id="frmCreateFolder">
    @Html.Partial("_FolderCreate")
</div>