@using totalhr.Resources;
@using totalhr.web.Helpers;
@using totalhr.data.EF;
@using totalhr.Shared;
@using H = totalhr.web.Helpers;
@using AH = totalhr.web.Areas.Admin.Helpers;
@using totalhr.web.Areas.Admin.Models;

@model totalhr.Shared.Models.DocumentInfo

@{
    ViewBag.Title = GenericHelper.WebsiteName + " | " + Document.V_Document_title;
    var folders = ViewBag.Folders as List<CompanyFolder>;
       
    if(folders == null){
        folders = new List<CompanyFolder> { new CompanyFolder { Id = -1, DisplayName = Document.v_Select } };     
    }else{
        folders.Insert(0, new CompanyFolder { Id = -1, DisplayName = Document.v_Select });
    }
    
    int CompanyId = Convert.ToInt32(ViewBag.CompanyId);  
    
    var breadCrumbItems = new List<BreadCrumbItem>
    {
        new BreadCrumbItem{Url = "/Document/", Text = Document.V_Documents, Title= Document.V_Documents},
        new BreadCrumbItem{Url = "", Text = Document.V_Create_New, Title= Document.V_Create_New}
    };
}

    @section pagetitle{
       @Document.V_Create_New
    }

    @section breadcrumb{
        @Html.Raw(AH.GenericHelper.MakeBreadCrumb(breadCrumbItems))
    }


@section scripts{
    <script type="text/javascript" src="/Scripts/Site/CompanyDocument.js"></script>
}

   <div class="row-fluid">        
        <div class="widget">
            <div class="widget-title">
                <h4><i class="icon-reorder"></i> @Document.V_Document_Details</h4>
                <span class="tools">
                    <a href="javascript:;" class="icon-chevron-down"></a>                   
                </span>
            </div>
            <div class="widget-body form-horizontal">                   

                @using (Html.BeginForm("CreateDocument", "Document", FormMethod.Post, new { enctype = "multipart/form-data",@class="form-horizontal" }))
                { 
                     @Html.ValidationSummary()            
                     @Html.HiddenFor(x => x.CreatedBy)

           
                            @Html.HiddenFor(x => x.DocId)

                            <div class="control-group">
                                <label class="control-label">@Document.V_DisplayName</label>
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.DisplayName, new {size="40", maxlength="250"})
                                </div>
                            </div>   
            
                            <div class="control-group">
                                <label class="control-label">@Document.V_Folder</label>
                                <div class="controls">
                                    @Html.DropDownListFor(x => x.FolderId, new SelectList(folders, "Id", "DisplayName"))
                           
                                     <button type="button" class="btn btn-warning" onclick="OpenPopup('/Document/CreateFolder/', 800,600)">
                                        <i class="icon-plus icon-white"></i> @Document.V_Add_Folder
                                    </button>
                                </div>
                            </div> 
            
                            <div class="control-group">
                                <label class="control-label">@Document.v_File</label>
                                <div class="controls">
                                     <input type="file" id="fileToUpload" name="File" />
                                </div>
                            </div>             
                   
                            <div class="control-group">
                                <label class="control-label">@Document.V_Document_Permissions</label>
                                <div class="controls">
                                     @Html.Raw(DocumentHelper.GetDocumentPermissionType())
                                </div>
                            </div>             
                  
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success">
                                    <i class="icon-ok icon-white"></i> @Document.V_Upload
                                </button>
                                <button type="button" class="btn btn-danger" onclick="NavigateTo('/Document/');">
                                    <i class="icon-remove icon-white"></i> @Document.V_Back_To_List
                                </button>
                            </div>
                          
         
                }
        </div>
   </div>
 </div>

<script type="text/javascript">
    var CompanyId = @CompanyId;
    var WHOLE_COMPANY = @((int)Variables.DocumentPermissionType.WholeCompany);
    var SELECTED_USERS = @((int)Variables.DocumentPermissionType.SelectedUsers);
    var DEPARTMENT = @((int)Variables.DocumentPermissionType.Department);
    var MSG_SELECT_USER = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Document.V_Select_User))';
    var MSG_SELECT_DEPARTMENT = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Document.V_Select_Department))';
    var MSG_Error_NoUser_ForPermission = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Document.Error_NoUser_ForPermission))';
    var MSG_Error_NoDept_ForPermission ='@Html.Raw(HttpUtility.JavaScriptStringEncode(Document.Error_NoDept_ForPermission))';
</script>

 @Html.Partial("_CompanyDocItemSelector")
  
@* @Html.Partial("_FolderCreate")*@
        
