@using totalhr.Resources;
@using totalhr.web.Areas.Admin.Models
@using totalhr.web.Helpers;
@using totalhr.data.EF;
@using totalhr.Shared;
@using AH = totalhr.web.Areas.Admin.Helpers;

@model totalhr.Shared.Models.DocumentInfoUpdate

@{
    ViewBag.Title = GenericHelper.WebsiteName + " | " + Document.V_Document_Details_Title;
    bool bViewable = Model != null;
    var docpermissions = ViewBag.DocumentPermission as List<CompanyDocumentPermission>;

    var folders = ViewBag.Folders as List<CompanyFolder>;

    if (folders == null)
    {
        folders = new List<CompanyFolder> { new CompanyFolder { Id = -1, DisplayName = Document.v_Select } };
    }
    else
    {
        folders.Insert(0, new CompanyFolder { Id = -1, DisplayName = Document.v_Select });
    }

    var companyId = Convert.ToInt32(ViewBag.CompanyId);
    
    var breadCrumbItems = new List<BreadCrumbItem>
    {
        new BreadCrumbItem{Url = "/Document/", Text = Document.V_Documents, Title= Document.V_Documents},
        new BreadCrumbItem{Url = "", Text = Document.V_Document_Details_Title, Title = Document.V_Document_Details_Title}
    };
}

 @section pagetitle{
       @Document.V_Document_Details_Title
    }

    @section breadcrumb{
        @Html.Raw(AH.GenericHelper.MakeBreadCrumb(breadCrumbItems))
    }



@section scripts{
    <script type="text/javascript" src="/Scripts/Site/CompanyDocument.js"></script>
}

<div class="row-fluid">        
    <div class="widget">
        <div class="widget-title">
            <h4><i class="icon-reorder"></i> @Document.V_Document_Details</h4>
            <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>                   
            </span>
        </div>
        <div class="widget-body form-horizontal">

            @if (bViewable)
            {
                using (Html.BeginForm("UpdateDocument", "Document", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                { 
                    @Html.ValidationSummary();
         
                   @Html.HiddenFor(x => x.DocId)   
                                @Html.HiddenFor(x => x.OldFileId) 
                
                        <div class="control-group">
                                <label class="control-label">@Document.V_Id</label>
                                <div class="controls">
                                   @Model.DocId
                                </div>
                            </div>   
                         <div class="control-group">
                                <label class="control-label">@Document.V_DisplayName</label>
                                <div class="controls">
                                   @Html.TextBoxFor(x => x.DisplayName, new {size="40", maxlength="250"})
                                </div>
                            </div> 
                           <div class="control-group">
                                <label class="control-label">@Document.V_Folder</label>
                                <div class="controls">
                                   @Html.DropDownListFor(x => x.FolderId,  new SelectList(folders, "Id", "DisplayName"))
                                    <input type="button" value="@Document.V_Add_Folder" onclick="OpenSelectorForFolder('frmCreateFolder');" />
                                </div>
                            </div> 
                            <div class="control-group">
                                <label class="control-label">@Document.v_File</label>
                                <div class="controls">
                                   <span>@Model.ExistingFileName</span>
                                    <span class="actionlink" onclick="$('#spFileUpload').fadeIn()">Modify</span> 
                                    <span id="spFileUpload" style="display:none;">
                                        <input type="file" id="fileToUpload" name="File" />
                                    </span> 
                                </div>
                            </div> 
                              
                         <div class="control-group">
                                <label class="control-label">@Document.V_Document_Permissions</label>
                                <div class="controls">
                                    @Html.Raw(DocumentHelper.GetDocumentPermissionType(docpermissions, Model.PermissionSelection, 
                                                                                       Model.PermissionItemNames, Model.PermissionSelectionValue))
                                </div>
                            </div> 
                          
                           <div class="form-actions">
                                <button type="submit" class="btn btn-success">
                                    <i class="icon-ok icon-white"></i> @Document.V_Save
                                </button>
                                <button type="button" class="btn btn-danger" onclick="NavigateTo('/Document/');">
                                    <i class="icon-remove icon-white"></i> @Document.V_Back_To_List
                                </button>
                            </div>                          

         
                }

            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var CompanyId = @Convert.ToInt32(ViewBag.CompanyId);
    var WHOLE_COMPANY = @((int)Variables.DocumentPermissionType.WholeCompany);
    var SELECTED_USERS = @((int)Variables.DocumentPermissionType.SelectedUsers);
    var DEPARTMENT = @((int)Variables.DocumentPermissionType.Department);
    var MSG_SELECT_USER = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Document.V_Select_User))';
    var MSG_SELECT_DEPARTMENT = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Document.V_Select_Department))';
    var MSG_Error_NoUser_ForPermission = '@Html.Raw(HttpUtility.JavaScriptStringEncode(Document.Error_NoUser_ForPermission))';
    var MSG_Error_NoDept_ForPermission ='@Html.Raw(HttpUtility.JavaScriptStringEncode(Document.Error_NoDept_ForPermission))';
</script>

 @Html.Partial("_CompanyDocItemSelector")
  
 @Html.Partial("_FolderCreate")