@using totalhr.Resources;
@using totalhr.web.Areas.Admin.Helpers;

@model totalhr.web.Areas.Admin.Models.UserSearchResult

@{
    ViewBag.Title = AdminGeneric.V_User_Management;
   
 }

@section breadcrumb{
    <a href="/Admin/" title="@AdminGeneric.V_Home">@AdminGeneric.V_Home</a> &gt;
    <span class="last">@AdminGeneric.V_User_List</span>
}

   <h1>@AdminGeneric.V_User_Management</h1>
 <div class="wide">
     <p>
         @AdminGeneric.V_List_Of_Users_Intro
     </p>
 </div>

<form id="frmSortForm" method="post" action="/Admin/User/SortBy/">
    <input type="hidden" id="SortColumn" name="SortColumn" value="@Model.SearchInfo.OrderColumn" />
    <input type="hidden" id="SortDirection" name="SortDirection" value="@Model.SearchInfo.OrderDirection" />
    <input type="hidden" id="hdnPageNumber" name="hdnPageNumber" value="@Model.SearchInfo.PageNumber" />
</form>

<div class="wide">
    @Html.Partial("_UserSearch", Model.SearchInfo)
</div>
<div class="wide">
    <hr />
</div>
   <div class="wide">     
         @Html.Partial("_UserList", Model)
    </div>
   
<div class="wide">
    <input type="button" value="@AdminGeneric.V_Add_User" onclick="document.location.href='/Admin/User/Create/'" />
</div>

