@using totalhr.Resources;
@using totalhr.web.Areas.Admin.Helpers;
@using totalhr.web.Areas.Admin.Models;

@model totalhr.web.Areas.Admin.Models.UserSearchResult
     

@{
    ViewBag.Title = AdminGeneric.V_User_Management;  
    var searchInfo = ViewBag.SearchInfo as totalhr.Shared.Models.UserSearchInfo;

    var breadCrumbItems = new List<BreadCrumbItem>
    {
        new BreadCrumbItem{Url = "/Admin/User/", Text = AdminGeneric.V_Employee_Management, Title= AdminGeneric.V_Employee_Management},
        new BreadCrumbItem{Url = "", Text = AdminGeneric.V_Employee_Search, Title= AdminGeneric.V_Employee_Search}
    }; 
 }

@section pagetitle{
    @AdminGeneric.V_Employee_Search
} 


@section breadcrumb{
    @Html.Raw(GenericHelper.MakeBreadCrumb(breadCrumbItems))
}
   

<div class="row-fluid">
    @Html.Partial("_UserSearch", Model.SearchInfo)
</div>
<div class="row-fluid">
    <hr />
</div>
 <div class="row-fluid">
     <p>
         @AdminGeneric.V_User_Search_Result_Intro
     </p>
 </div>

<div class="row-fluid">
    @Html.Partial("_UserList", Model)
</div>