@using totalhr.Resources;

@{
    ViewBag.Title = AdminGeneric.V_Admin_Home_Title;    
}

<div id="main">
    <div class="content">

        <h1>@AdminGeneric.V_Admin_Home_Title</h1>

        <div id="dvAccount" class="itemlist">

            <div class="option" onclick="document.location.href='/Admin/Profile/'">
                <h4>@AdminGeneric.V_Profile_Management</h4>
                <div class="cont">

                </div>
            </div>

            <div class="option" onclick="document.location.href='/Admin/Role/'">
                <h4>@AdminGeneric.V_Role_Management</h4>
                <div class="cont">

                </div>
            </div>

            <div class="option" onclick="document.location.href='/Admin/User/'">
                <h4>@AdminGeneric.V_User_Management</h4>
                <div class="cont">

                </div>
            </div>
            <div class="option" onclick="document.location.href='/Admin/Company/Department/'">
                <h4>@AdminGeneric.V_Department_Management</h4>
                <div class="cont">

                </div>
            </div>
             <div class="option" onclick="document.location.href='/Admin/Company/Document/'">
                <h4>@AdminGeneric.V_Document_Folder_Managment</h4>
                <div class="cont">

                </div>
            </div>
             <div class="option" onclick="document.location.href='/Admin/Contract/'">
                <h4>@AdminGeneric.V_Contract_Management</h4>
                <div class="cont">

                </div>
            </div>

            <div class="option" onclick="document.location.href='/Admin/Absences/'">
                <h4>@AdminGeneric.V_Absences_Management</h4>
                <div class="cont">

                </div>
            </div>

             <div class="option" onclick="document.location.href='/Admin/FormEditor/'">
                <h4>@AdminGeneric.V_Manage_Forms</h4>
                <div class="cont">

                </div>
            </div>

        </div>
    </div>
</div>