@model Calendar.Models.CalendarHTML
@using totalhr.web.Helpers

@{
    int calendarId = 0;
    if (ViewBag.CalendarId != null)
    {
        Int32.TryParse(ViewBag.CalendarId.ToString(), out calendarId);
    }
}

<link href="~/Content/calendar.css" rel="stylesheet" />

<p>
    @*** pass current date as links will depend on dates being viewed*@
    <a href="@Model.PreviousRequest">@totalhr.Resources.Calendar.V_Prev</a>
    &nbsp;
    <a href="@Model.NextRequest">@totalhr.Resources.Calendar.V_Next</a>
    &nbsp;
    @Html.Raw(DateHelper.CurrentWeekCalendarLink(totalhr.Resources.Calendar.V_Week_View, calendarId))
     &nbsp;
    @Html.Raw(DateHelper.CurrentDayCalendarLink(totalhr.Resources.Calendar.V_Day_View, calendarId))
    &nbsp;
    @Html.Raw(DateHelper.CurrentMonthCalendarLink(totalhr.Resources.Calendar.V_Month_View, calendarId))
</p>
@Html.Raw(Model.GridHTML)

 
