@model Calendar.Models.CalendarHTML
@using totalhr.Shared
@using totalhr.web.Helpers

@{
    int calendarId = 0;
    if (ViewBag.CalendarId != null)
    {
        Int32.TryParse(ViewBag.CalendarId.ToString(), out calendarId);
    }
}

<link href="~/Content/css/calendar.css" rel="stylesheet" />

<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN CALENDAR PORTLET-->
        <div class="widget">
        <div class="widget-title">
            <h4><i class="icon-reorder"></i>@ViewBag.CalendarName</h4>
            <span class="tools">
            <a class="icon-chevron-down" href="javascript:;"></a>
            </span>
        </div>
        <div class="widget-body">   
           
            <div class="row-fluid">

                <button type="button" class="btn" onclick="NavigateTo('@Model.PreviousRequest');">
                    <i class="icon-chevron-left"></i> @*@totalhr.Resources.Calendar.V_Prev*@
                </button>
                &nbsp; 

                 @if (Model.ViewType != Variables.CalendarViewType.YearView)
                {
                    @Html.Raw(DateHelper.CurrentYearCalendarLink(totalhr.Resources.Calendar.V_Year_View, calendarId))
                    @:&nbsp; 
                }

                @if (Model.ViewType != Variables.CalendarViewType.MonthView)
                {
                     @Html.Raw(DateHelper.CurrentMonthCalendarLink(totalhr.Resources.Calendar.V_Month_View, calendarId))
                     @:&nbsp;
                }
    
                @if (Model.ViewType != Variables.CalendarViewType.WeekView)
                {
                    @Html.Raw(DateHelper.CurrentWeekCalendarLink(totalhr.Resources.Calendar.V_Week_View, calendarId))
                    @:&nbsp;
                }
   
                @if (Model.ViewType != Variables.CalendarViewType.DayView)
                {
                    @Html.Raw(DateHelper.CurrentDayCalendarLink(totalhr.Resources.Calendar.V_Day_View, calendarId))
                    @:&nbsp; 
                }
    
                 <button type="button" class="btn" onclick="NavigateTo('@Model.NextRequest');">
                    <i class="icon-chevron-right"></i> @*@totalhr.Resources.Calendar.V_Next*@
                </button>
            </div>
            <br />
            @Html.Raw(Model.GridHTML)

        </div>
     </div>
 </div>

</div>
       
   



 
