<!DOCTYPE html>
<html lang="en-us">
<head>

	<meta charset="utf-8" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>@ViewBag.Title</title>

	<meta name="author" content="abusinesstheme">
	<meta name="description" content="TotalHR is your complete HR System. Why have your HR functions handled in more than one system.">

	

  	<!-- CSS files -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic|Montserrat:400,700' rel='stylesheet'>
	<link rel="stylesheet" href="/Content/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/Content/assets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/Content/assets/elegant_font/html_css/style.css">
	

	<link rel="stylesheet" href="/Content/plugins/rs-plugin/css/settings.css" media="screen">
	<link rel="stylesheet" href="/Content/plugins/owl-carousel/owl.carousel.css">


	<!-- Main CSS file -->
	<link rel="stylesheet" href="/Content/css/defaultstyle.css">

	<!-- my additions -->
    
    @RenderSection("extrastyles", required: false)
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    @Scripts.Render("~/Scripts/Site/common.js")

    @RenderSection("scripts", required: false)

</head>
<body>

<div id="preloader">
	<div id="status">&nbsp;</div>
</div>



<!-- Global Wrapper -->
<div id="wrapper">


	<div class="h-wrapper">

		<!-- Top Bar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<ul class="top-menu">
							<li><a href="#">Tour</a></li>
                            <li><a href="#">Contact</a></li>
							<li><a href="#">Sign Up</a></li>
							<li><a href="#">Sign In</a></li>
							
						</ul>
					</div>
					<!-- This column is hidden on mobiles -->
					<div class="col-sm-6">
						<div class="pull-right hidden-xs">
							<ul class="social-icon unstyled">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header -->
		<header class="header-wrapper header-transparent with-topbar">
			<div class="main-header">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-2">
							<!-- Logo - Read documentation to see how to change the logo-->
							<a href="index.html" class="logo"></a>
                            <a href="#" style="font-size:18pt;color:white;">TotalHR</a>
						</div>
						<div class="col-sm-12 col-md-10">
							<nav class="navbar-right">
								<ul class="menu">
									<!-- Toggle Menu - For Mobile Devices -->
									<li class="toggle-menu"><i class="fa icon_menu"></i></li> 
									
									<li class="first">
										<a href="#">Home</a>										
									</li> <!-- END Home -->
									<li>
										<a href="#">Features</a>
										<div class="megamenu full">
											<div class="row">
												<div class="col-4">
													<ul class="megamenu-list">
														<li class="title">Headers</li>
														<li><a href="index_02.html">Header Transparent</a></li>
														<li><a href="index_09.html">Header Simple</a></li>
														<li><a href="index_08.html">Header Bottom Menu</a></li>
														<li><a href="index_07.html">Header Icons Menu</a></li>
														<li><a href="index_05.html">Header Dark</a></li>
														<li><a href="index.html">Header Transparent Dark</a></li>
														<li><a href="index_04.html">Header Dark Bar</a></li>
														<li><a href="index_03.html">Header Gray Bar</a></li>
														<li><a href="index_14.html">Header Top Menu</a></li>
														<li><a href="index_13.html">Header Full Screen</a></li>
														<li><a href="index_03.html">Header Static Menu</a></li>
														<li><a href="index_07.html">Header Menu under Logo</a></li>
													</ul>
												</div>
												<div class="col-4">
													<ul class="megamenu-list">
														<li class="title">Menus</li>
														<li><a href="index_06.html">Menu Dark Transparent</a></li>
														<li><a href="index.html">Menu Dark</a></li>
														<li><a href="index_03.html">Menu Light</a></li>

														<li> &nbsp; </li>
														<li class="title">Footers</li>
														<li><a href="index_04.html#footer_index">Footer Dark Simple</a></li>
														<li><a href="index_03.html#footer_index">Footer Gray</a></li>
														<li><a href="index.html#footer_index">Footer Background</a></li>
														<li><a href="index_10.html#footer_index">Footer Simple</a></li>
														<li><a href="index_02.html#footer_index">Footer Small</a></li>
													</ul>
												</div>
												<div class="col-4">
													<ul class="megamenu-list">
														<li class="title">Vertical Menu</li>
														<li><a href="index_10.html">Header Left Dark</a></li>
														<li><a href="index_12.html">Header Left Light</a></li>
														<li><a href="index_11.html">Header Right Menu</a></li>

														<li> &nbsp; </li>
														<li class="title">Sliders</li>
														<li><a href="index.html">Slider Full width</a></li>
														<li><a href="index_05.html">Slider Boxed</a></li>
														<li><a href="index_06.html">Slider Full screen</a></li>
														<li><a href="index_10.html">Slider Kenburns</a></li>
														<li><a href="index_15.html">Slider Kenburns Full screen</a></li>
														<li><a href="index_13.html">Slider Video Full width</a></li>
														<li><a href="index_08.html">Slider Video Full screen</a></li>
													</ul>
												</div>
											</div>
										</div>
									</li> <!-- END Features -->									
									<li>
										<a href="#">Pricing</a>										
									</li>
                                    <li>
										<a href="#">About Us</a>										
									</li>
                                    <li>
										<a href="#">Blog</a>
										<ul class="submenu">
											<li><a href="blog_list_small.html">List Small</a></li>
											<li><a href="blog_list_large.html">List Large</a></li>
											<li><a href="blog_grid.html">Grid</a></li>
											<li><a href="blog_grid_sidebar.html">Grid Sidebar</a></li>
											<li><a href="blog_masonry.html">Masonry</a></li>
											<li><a href="blog_masonry_sidebar.html">Masonry Sidebar</a></li>
											<li><a href="blog_post.html">Post</a></li>
											<li><a href="blog_post_sidebar.html">Post Sidebar</a></li>
										</ul>
									</li> <!-- END Blog -->
									
									
									
								</ul>
							</nav>
						</div>
					</div>
				</div> <!-- END Container -->
			</div> <!-- END Main Header -->
		</header>

	</div>

	<!-- Do not remove this class -->
	<div class="push-top"></div>

	<!-- Slider -->
	<div class="tp-banner-container rs_fullwidth">
		<div class="tp-banner">
			<ul>
				
				<!-- SLIDE 1 -->
				<li data-transition="fade" data-masterspeed="500" data-slotamount="7" data-delay="8000" data-title="Slide 1">
					<!-- Background Image -->
				   <img src="/Content/images/design/demo/bg11.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">

				   <!-- Include bg-overlay class if you want some background overlay over the image -->
				   <!-- Recomend to include it to have a dark overlay and change the opacity (op6, op4, op8 etc) so that the content inside to be visible and readalbe (text is white) -->
				   <div class="bg-overlay op6"></div>


					<div class="tp-caption sfb stt"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="-75" 
						data-speed="600" data-start="600"
						data-endspeed="400" data-end="7900"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h3 class="title-slider-small uppercased mb10">create stunning websites with palas</h3>
					</div>

					<div class="tp-caption sfb stt"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="30" 
						data-speed="700" data-start="800"
						data-endspeed="500" data-end="7950"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h2 class="title-slider-large">All you need<br> just one template</h2>
					</div>

					<div class="tp-caption sfb stt"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="130" 
						data-speed="800" data-start="1000"
						data-endspeed="600" data-end="8000"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<a href="#" class="btn-slider">Purchase</a>
					</div>

					
				</li>

				<!-- SLIDE 2 -->
				<li data-transition="fade" data-slotamount="7" data-delay="8000" data-title="Slide 2">
					<!-- Background Image -->
				   <img src="/Content/images/design/demo/bg14.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">
				   <div class="bg-overlay op5"></div>

				   
					<div class="tp-caption sfl stt"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="-10" 
						data-speed="600" data-start="600"
						data-endspeed="400" data-end="7800"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h2 class="title-slider-large mb20">Customizable <br> and Easy to Use</h2>
						<div class="br-bottom"></div>
					</div>

					<div class="tp-caption sfl stb"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="110" 
						data-speed="700" data-start="800"
						data-endspeed="400" data-end="7900"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h4 class="title-slider-small">It could take you a few minutes to customize it!</h4>
					</div>
					
				</li>

				<!-- SLIDE 3 -->
				<li data-transition="fade" data-slotamount="7" data-delay="8000" data-title="Slide 3">
					<!-- Background Image -->
				   <img src="/Content/images/design/demo/bg15.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">
				   <div class="bg-overlay op5"></div>

				   
					<div class="tp-caption sfl stl"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="-15" 
						data-speed="700" data-start="600"
						data-endspeed="400" data-end="7800"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h2 class="title-slider-large">Free updates <br> Top notch Support</h2>
					</div>

					<div class="tp-caption sfl stl"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="70" 
						data-speed="700" data-start="1000"
						data-endspeed="400" data-end="7900"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h3 class="title-slider-small uppercased">and so much more ...</h3>
					</div>


					<div class="tp-caption sfb stl"
						data-x="left" data-hoffset="15"
						data-y="center" data-voffset="120" 
						data-speed="900" data-start="1200"
						data-endspeed="600" data-end="7950"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<a href="#" class="btn-slider reversed">see features</a>
					</div>
					
				</li>


				<!-- SLIDE 4 -->
				<li data-transition="fade" data-slotamount="7" data-delay="8000" data-title="Slide 4">
					<!-- Background Image -->
				   <img src="/Content/images/design/demo/bg17.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">
				   <div class="bg-overlay op5"></div>

				   
					<div class="tp-caption sfr stb"
						data-x="right" data-hoffset="-15"
						data-y="center" data-voffset="0" 
						data-speed="900" data-start="600"
						data-endspeed="400" data-end="7980"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h2 class="title-slider-large text-right">Premium Plugins</h2>
					</div>

					<div class="tp-caption sfr stb"
						data-x="right" data-hoffset="-15"
						data-y="center" data-voffset="70" 
						data-speed="1000" data-start="1000"
						data-endspeed="400" data-end="7900"
						data-easing="Power3.easeInOut" data-endeasing=""
						style="z-index: 4">
						<h4 class="title-slider-small uppercased text-right">
						Bootstrap based <span class="py10"></span>
						responsive design <span class="py10"></span>
						clean code<br>
						working widgets  <span class="py10"></span>
						ajax contact form
						</h4>
					</div>

				</li>

			</ul>
		</div>
	</div> <!-- END Slider-->


	<section class="section mt40">
		<div class="container">
			<div class="row col-p30">
				<div class="col-sm-4 xs-box2">
					<div class="box-services-c">
						<i class="icon_mobile fa fa-style4"></i>
						<h3 class="title-small br-bottom-center">Responsive design</h3>
						<p class="mb0">Can be used on mobile, tablets and desktop devices. This is a fully responsive website that enables you to manage your account anywhere.</p>
					</div>
				</div>
				<div class="col-sm-4 xs-box2">
					<div class="box-services-c">
						<i class="icon_gift_alt fa fa-style4"></i>
						<h3 class="title-small br-bottom-center">Extensive features list</h3>
						<p class="mb0">                             
                            Why struggle and risk your data moving from one system to another?
                            TotalHR puts it all together.
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="box-services-c">
						<i class="icon_star_alt fa fa-style4"></i>
						<h3 class="title-small br-bottom-center">On demand customization</h3>
						<p class="mb0">You can add or remove features at any time. You don't need to wait for an admin to do this.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-bg p0 section-dark data-height-fix">

		<div class="row col-p0">
			<div class="col-sm-6 hidden-xs">
				<div class="box-services-d p0 bg-img bg16">
					<div class="bg-overlay"></div>
					<div class="set-height"></div>
				</div>
			</div>
		</div>

		<div class="section-caption">
			<div class="container">
				<div class="row col-p0">
					<div class="col-sm-5 col-sm-offset-7 get-height">
						<div class="mb50 mt50">
							<h3 class="title-medium color-on-dark">About us</h3>
							<div class="br-bottom mb20 color-on-dark"></div>
							<p class="mb50 color-on-dark">We are a group of people who believe that there is always a better way of doing things.
                                We have decided to produce a HR System that will make life easy for companies in terms of managing employee welfare.
                                Companies usually have a simple HR System with about 5 main functions and then they need to move data from one system to the other.
                                Or employees have to log into different system on a daily basis.<br />
                                We at TotalHR have come up with a system that is limitless in terms of features. Depending on each company, we can add or remove features
                                to satisfy the needs of each organization.
							</p>
							<h3 class="title-small color-on-dark"><i class="fa-style5 icon_heart_alt mr10"></i> Happy Clients</h3>
							<p class="mb0 color-on-dark">Satisfaction comes instanteniously as we have saved a lot of time for employees and simplify the way to manage their information.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section">
		<div class="container">
			<div class="row col-p30">
				<div class="col-sm-12 col-md-6 sm-box2">
					<div class="box-services-b">
						<div class="box-left"><i class="fa fa-style1 icon_lifesaver"></i></div>
						<div class="box-right">
							<h3 class="title-small">Top notch Support <a href="#" class="link-read-more">read more</a></h3>
							<p class="mb10">We provide our clients with help and training from beginning to end and don't leave them figure out how to use our system!
                                
							</p>
						</div>
					</div>

					<div class="mb50"></div>

					<div class="box-services-b">
						<div class="box-left"><i class="fa fa-style1 icon_box-checked"></i></div>
						<div class="box-right">
							<h3 class="title-small">How does it work? <a href="#" class="link-read-more">read more</a></h3>
							<p class="mb10">You register, choose your package (feature selection) and that is it! You can then start using the system by adding company employees</p>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="box-services-b">
						<div class="box-left"><i class="fa fa-style1 icon_lightbulb_alt"></i></div>
						<div class="box-right">
							<h3 class="title-small">How much does it cost? <a href="#" class="link-read-more">read more</a></h3>
							<p class="mb10">The cost is based on the number of employees and features selected as part of the package!</p>
						</div>
					</div>

					<div class="mb50"></div>

					<div class="box-services-b">
						<div class="box-left"><i class="fa fa-style1 icon_piechart"></i></div>
						<div class="box-right">
							<h3 class="title-small">About the system <a href="#" class="link-read-more">read more</a></h3>
							<p class="mb10">To understand more about the system, refer to our help section or click read more!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    
     @RenderBody()

	<section class="section max_height sm_max_height">
		<div class="row col-p0">
			<div class="col-sm-12 col-md-4">
				<div class="box-services-d box-services-e green el_max_height">
					<div class="bg-overlay"></div>
					<div class="row col-p0">
						<div class="col-sm-12">
							<h3 class="title-medium title-shadow-a">Customizable <a href="#" class="link-read-more">read more</a></h3>
							<p class="mb0 ">TotalHR is one of the most flexible systems when it comes to customization. You can set permissions to control who can access what. e.g. you may have selected 10
                                features for your company but can limit some users to only view 4 of them.
							</p>
							<span class="fa montserrat">1</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="box-services-d box-services-e dark el_max_height">
					<div class="bg-overlay"></div>
					<div class="row col-p0">
						<div class="col-sm-12">
							<h3 class="title-medium title-shadow-a">Easy to use <a href="#" class="link-read-more">read more</a></h3>
							<p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi atque voluptatum saepe suscipit veritatis voluptas!</p>
							<span class="fa montserrat">2</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="box-services-d box-services-e el_max_height">
					<div class="bg-overlay"></div>
					<div class="row col-p0">
						<div class="col-sm-12">
							<h3 class="title-medium title-shadow-a">Browser Independent<a href="#" class="link-read-more">read more</a></h3>
							<p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi atque voluptatum saepe suscipit veritatis voluptas!</p>
							<span class="fa montserrat">3</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section">
		<div class="container">
			<div class="row mb30">
				<div class="col-sm-6">
					<h3 class="title-medium br-bottom">Have a glimpse</h3>
				</div>
				<div class="col-sm-6">
					<div class="clearfix">
						<div class="pull-right xs-pull-left">
							<nav class="portfolio-filter pf2">
								<ul>
									<li class="xs-pl0"><a href="#" data-filter="*" class="active"><i class="fa fa-bars"></i></a></li>
									<li><a href="#" data-filter=".above_">Videos</a></li>
									<li><span> / </span></li>
									<li><a href="#" data-filter=".beyond_">Screenshots</a></li>									
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div id="portfolio-isotope">
						<div class="row col-p5">
							<div class="portfolio portfolio-animation-off">
								<div class="col-sm-6 col-md-4 el above_ beyond_">
									<div class="portfolio-el view">
		                            	<img src="images/demo/p01.jpg" alt="project">
		                            	<a href="portfolio_project_half.html" class="mask">
		                            		<div class="portfolio-middle">
		                            			<h3 class="project-title br-bottom">Above and beyond</h3>
		                            			<p class="text">design, photography</p>
		                            		</div>
		                            		<p class="date">15 june</p>
		                            	</a>
									</div>
			                    </div> <!-- END portfolio Item -->
			                    <div class="col-sm-6 col-md-4 el above_ nowhere_">
			                    	<div class="portfolio-el view">
		                            	<img src="images/demo/p11.jpg" alt="project">
		                            	<a href="portfolio_project_half.html" class="mask">
		                            		<div class="portfolio-middle">
		                            			<h3 class="project-title br-bottom">Imagine dragons</h3>
		                            			<p class="text">design, photography</p>
		                            		</div>
		                            		<p class="date">15 june</p>
		                            	</a>
									</div>
			                    </div> <!-- END portfolio Item -->
			                    <div class="col-sm-6 col-md-4 el beyond_ nowhere_">
			                    	<div class="portfolio-el view">
		                            	<img src="images/demo/p03.jpg" alt="project">
		                            	<a href="portfolio_project_half.html" class="mask">
		                            		<div class="portfolio-middle">
		                            			<h3 class="project-title br-bottom">Upside Down</h3>
		                            			<p class="text">design, photography</p>
		                            		</div>
		                            		<p class="date">15 june</p>
		                            	</a>
									</div>
			                    </div> <!-- END portfolio Item -->
			                    <div class="col-sm-6 col-md-4 el above_">
			                        <div class="portfolio-el view">
		                            	<img src="images/demo/p04.jpg" alt="project">
		                            	<a href="portfolio_project_half.html" class="mask">
		                            		<div class="portfolio-middle">
		                            			<h3 class="project-title br-bottom">Nowhere</h3>
		                            			<p class="text">design, photography</p>
		                            		</div>
		                            		<p class="date">15 june</p>
		                            	</a>
									</div>
			                    </div> <!-- END portfolio Item -->
			                    <div class="col-sm-6 col-md-4 el beyond_">
			                        <div class="portfolio-el view">
		                            	<img src="images/demo/p05.jpg" alt="project">
		                            	<a href="portfolio_project_half.html" class="mask">
		                            		<div class="portfolio-middle">
		                            			<h3 class="project-title br-bottom">Begin again</h3>
		                            			<p class="text">design, photography</p>
		                            		</div>
		                            		<p class="date">15 june</p>
		                            	</a>
									</div>
			                    </div> <!-- END portfolio Item -->
			                    <div class="col-sm-6 col-md-4 el nowhere_">
			                        <div class="portfolio-el view">
		                            	<img src="images/demo/p06.jpg" alt="project">
		                            	<a href="portfolio_project_half.html" class="mask">
		                            		<div class="portfolio-middle">
		                            			<h3 class="project-title br-bottom">Up in the air</h3>
		                            			<p class="text">design, photography</p>
		                            		</div>
		                            		<p class="date">15 june</p>
		                            	</a>
									</div>
			                    </div> <!-- END portfolio Item -->
							</div> <!-- END portfolio -->
						</div>
					</div> <!-- END Portfolio Isotope -->
				</div>
			</div>
		</div>
	</section>


	<section class="section-bg section-large section-dark mt20 mb0">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<h2 class="title-medium text-center color-on-dark mb20 mt20 title-shadow-a">The team behind all this</h2>
					<div class="br-bottom-center"></div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="row col-p0">
			<div class="col-sm-12">
				<div class="team-section team-section-2 team-section-fullwidth portfolio-animation-off">
					<div class="owl-carousel sm-owl-cursor owl-columns5">
						<div class="owl-el">
							<div class="portfolio-el view">
		                    	<img src="images/demo/team1.jpg" alt="project">
		                    	<div class="mask">
		                    		<div class="portfolio-middle">
		                    			<h3 class="project-title br-bottom"><a href="#">John Doe</a></h3>
		                    			<p class="text">web designer</p>
		                    		</div>
		                    		<div class="date">
		                    			<ul class="social-icon simple">
										 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
		                    		</div>
		                    	</div>
							</div>
						</div>
						<div class="owl-el">
							<div class="portfolio-el view">
		                    	<img src="images/demo/team2.jpg" alt="project">
		                    	<div class="mask">
		                    		<div class="portfolio-middle">
		                    			<h3 class="project-title br-bottom"><a href="#">Mark Doe</a></h3>
		                    			<p class="text">web developer</p>
		                    		</div>
		                    		<div class="date">
		                    			<ul class="social-icon simple">
										 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
		                    		</div>
		                    	</div>
							</div>
						</div>
						<div class="owl-el">
							<div class="portfolio-el view">
		                    	<img src="images/demo/team3.jpg" alt="project">
		                    	<div class="mask">
		                    		<div class="portfolio-middle">
		                    			<h3 class="project-title br-bottom"><a href="#">Alex Doe</a></h3>
		                    			<p class="text">manager</p>
		                    		</div>
		                    		<div class="date">
		                    			<ul class="social-icon simple">
										 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
		                    		</div>
		                    	</div>
							</div>
						</div>
						<div class="owl-el">
							<div class="portfolio-el view">
		                    	<img src="images/demo/team4.jpg" alt="project">
		                    	<div class="mask">
		                    		<div class="portfolio-middle">
		                    			<h3 class="project-title br-bottom"><a href="#">Barry Doe</a></h3>
		                    			<p class="text">graphic designer</p>
		                    		</div>
		                    		<div class="date">
		                    			<ul class="social-icon simple">
										 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
		                    		</div>
		                    	</div>
							</div>
						</div>
						<div class="owl-el">
							<div class="portfolio-el view">
		                    	<img src="images/demo/team5.jpg" alt="project">
		                    	<div class="mask">
		                    		<div class="portfolio-middle">
		                    			<h3 class="project-title br-bottom"><a href="#">Chris Doe</a></h3>
		                    			<p class="text">SEO Analytic</p>
		                    		</div>
		                    		<div class="date">
		                    			<ul class="social-icon simple">
										 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
		                    		</div>
		                    	</div>
							</div>
						</div>
						<div class="owl-el">
							<div class="portfolio-el view">
		                    	<img src="images/demo/team6.jpg" alt="project">
		                    	<div class="mask">
		                    		<div class="portfolio-middle">
		                    			<h3 class="project-title br-bottom"><a href="#">Joe Doe</a></h3>
		                    			<p class="text">web designer</p>
		                    		</div>
		                    		<div class="date">
		                    			<ul class="social-icon simple">
										 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
		                    		</div>
		                    	</div>
							</div>
						</div>
						<div class="owl-el">
							<div class="portfolio-el view">
		                    	<img src="images/demo/team1.jpg" alt="project">
		                    	<div class="mask">
		                    		<div class="portfolio-middle">
		                    			<h3 class="project-title br-bottom"><a href="#">Justin Doe</a></h3>
		                    			<p class="text">front-end designer</p>
		                    		</div>
		                    		<div class="date">
		                    			<ul class="social-icon simple">
										 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
										</ul>
		                    		</div>
		                    	</div>
							</div>
						</div>
					</div>
				</div> <!-- END portfolio -->
			</div>
		</div>
	</section>

	<!--<section class="section-bg mt0 section-large mb0 section-dark page-clients">
		<div class="container">
			<div class="row mb50">
				<div class="col-xs-6 col-sm-3 xs-box">
					<a href="#" data-toggle="tooltip" title="Envato"><img src="images/demo/client01a.png" alt="client"></a>
				</div>
				<div class="col-xs-6 col-sm-3 xs-box">
					<a href="#" data-toggle="tooltip" title="Woocommerce"><img src="images/demo/client02a.png" alt="client"></a>
				</div>
				<div class="col-xs-6 col-sm-3 xs-box">
					<a href="#" data-toggle="tooltip" title="Shopify"><img src="images/demo/client03a.png" alt="client"></a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a href="#" data-toggle="tooltip" title="Magento"><img src="images/demo/client04a.png" alt="client"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-3 xs-box">
					<a href="#" data-toggle="tooltip" title="Drupal"><img src="images/demo/client05a.png" alt="client"></a>
				</div>
				<div class="col-xs-6 col-sm-3 xs-box">
					<a href="#" data-toggle="tooltip" title="Joomla"><img src="images/demo/client06a.png" alt="client"></a>
				</div>
				<div class="col-xs-6 col-sm-3 xs-box">
					<a href="#" data-toggle="tooltip" title="WordPress"><img src="images/demo/client07a.png" alt="client"></a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a href="#" data-toggle="tooltip" title="jQuery"><img src="images/demo/client08a.png" alt="client"></a>
				</div>
			</div>
		</div>
	</section>-->
    <br />

	<section class="section p0 mb50 max_height xs_max_height">
		<div class="row col-p0">
			<div class="col-sm-4 col-sm-push-8 xs-box3">
				<div class="box-services-d box-services-e dark el_max_height xs-pt0">
					<div class="row col-p0">
						<div class="col-sm-12">
							<div class="br-bottom mt0 mb20"></div>
							<h3 class="title-medium small title-shadow-a">Testimonials</h3>
							<p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum recusandae sequi atque voluptatum saepe!</p>
							<i class="fa icon_quotations"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-sm-pull-4 xs-box3">
				<div class="section-testimonials mt70 el_max_height">
					<div class="owl-carousel owl-portfolio">
						<div class="owl-el">
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quidem nesciunt totam? Quia, facere nobis fuga. Voluptas, sit maxime accusantium ipsum dolor.</p>
								<footer>
									<h5>John Doe <span> ThemeForest </span></h5>
								</footer>
							</blockquote>
						</div>
						<div class="owl-el">
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quidem nesciunt totam? Quia, facere nobis fuga. Voluptas, sit maxime accusantium ipsum dolor.</p>
								<footer>
									<h5>Mark Doe <span> AudioJungle </span></h5>
								</footer>
							</blockquote>
						</div>
						<div class="owl-el">
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quidem nesciunt totam? Quia, facere nobis fuga. Voluptas, sit maxime accusantium ipsum dolor.</p>
								<footer>
									<h5>Alex Doe <span> CodeCanyon </span></h5>
								</footer>
							</blockquote>
						</div>
					</div> 
				</div>
			</div>
		</div>
	</section>


	<section class="section mb30">
		<div class="container">
			<div class="row col-p30">
				<div class="col-sm-12 col-md-4">
					<div class="box-services-d box-services-e">
						<div class="bg-overlay"></div>
						<div class="row col-p0 p0">
							<div class="col-sm-12 p0">
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="box-services-a">
						<h3 class="title-uppercased mt50 mb10"><i class="fa icon_cart_alt fa-style5"></i> Try It <a href="#" class="link-read-more">read more</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores repudiandae, accusantium reiciendis!</p>
						<div class="br-bottom"></div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="box-services-a">
						<h3 class="title-uppercased mt50 mb10"><i class="fa icon_shield fa-style5"></i> Subscribe <a href="#" class="link-read-more">read more</a></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores repudiandae, accusantium reiciendis!</p>
						<div class="br-bottom"></div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- You could remove this - It is useful only for demo purposes (Live preview) -->
	<div id="footer_index"></div>

	<!-- Footer wrapper -->
	<footer class="footer-wrapper footer-bg">
		<div class="container">
			<div class="row col-p30">
				<div class="col-sm-12 col-md-4">
					<div class="footer-widget">
						<h3 class="footer-title">TotalHR</h3>
						<ul class="footer-links clearfix">
							<li><a href="#">Home</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Security</a></li>
							<li><a href="#">Pricing</a></li>
							<li><a href="#">Features</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div class="footer-widget">
						<h3 class="footer-title">Get social</h3>
						<ul class="footer-social clearfix">
							<li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" data-toggle="tooltip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" data-toggle="tooltip" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="#" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#" data-toggle="tooltip" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div class="footer-widget">
						<h3 class="footer-title">Tweets</h3>
						<!-- This is just a dummy twitter feed with typed content (not generetad).
						Didn't include the twitter feed for performance benefits.
						See in documentation how to include a fully functional twitter feed widget -->
						<div class="sidebar-tweet clearfix">
							<i class="fa fa-twitter"></i>
							<p class="tweet-content">
								<a href="#" class="tweet-user">abusinesstheme</a> 
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span> 
								<small>22 hours ago</small>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-4 col-sm-push-6 col-md-push-4 xs-box">


					<!-- MailChimp Subscribe Form -->
					<div id="mc_embed_signup">
						<!-- Replace the below url with the action link from mailchimp (see documentation) -->
						<form action="http://abusinesstheme.us10.list-manage.com/subscribe/post?u=dd23cb20d9d4dde851546bd9a&amp;id=8d7dbd85d4" method="post" 
						id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="footer-subscribe">
							<div id="mc_embed_signup_scroll">
								<input type="email" value="" name="EMAIL" id="mce-EMAIL" required placeholder=" Type email and hit enter">
								<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    	<div style="position: absolute; left: -5000px;">
						    		<input type="text" name="b_111fbc1ae1a748cfb4ef9ac27_ac969aca2f" tabindex="-1" value="">
						    	</div>
								<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="hidden"></button>
							</div>
						</form>
					</div>
					<!-- END mc_embed_signup -->

				</div>
				<div class="col-sm-6 col-md-4 col-sm-pull-6 col-md-pull-4">
					<p class="copyright">&copy; Copyright 2010 - 2015 TotalHR</p>
				</div>
			</div>
		</div>
	</footer>


	
</div> <!-- END Global Wrapper -->


	<!-- Javascript files -->
	<script src="/Scripts/plugins/jquery/jquery-2.1.0.min.js"></script>
	<script src="/Scripts/plugins/bootstrap/js/bootstrap.min.js"></script>

	<script src="/Scripts/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="/Scripts/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>


	<script src="/Scripts/plugins/jquery.appear.js"></script>
	<script src="/Scripts/plugins/retina.min.js"></script>
	<script src="/Scripts/plugins/stellar.min.js"></script>
	<script src="/Scripts/plugins/sticky.min.js"></script>
	<script src="/Scripts/plugins/owl-carousel/owl.carousel.min.js"></script>
	<script src="/Scripts/plugins/isotope/isotope.pkgd.min.js"></script>
	<script src="/Scripts/plugins/isotope/imagesloaded.pkgd.min.js"></script>
	
	

	<!-- Main javascript file -->
	<script src="/Scripts/Site/default.js"></script>




	


</body>
</html>