@using totalhr.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/css/default.css")    
    @RenderSection("extrastyles", required: false)
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    @Scripts.Render("~/Scripts/Site/common.js")

    @RenderSection("scripts", required: false)
</head>
   <body class="home">
        <div id="overhead">
            <div class="core">
                <div class="title" onclick="javascript:NavigateTo('/');">
                    TotalHR
                </div>
	
                <div class="accountbox">
                    <a href="/Account/Login/">@Common.Page_TT_Login</a> 
                    <a href="/Account/Register/">@Common.V_Register</a> 
                </div>
            </div>
        </div>
        
        @RenderSection("head", required: false)
  
        <div id="main">
            @RenderBody()
        </div>
       
       <div id="footer">
           <ul>
               <li><a href="/Account/ExpressLogAdmin">Log as Admin</a></li>
               <li>-</li>
               <li><a href="/Account/ExpressLogNonAdmin">Log as Simple User</a></li>
           </ul>
       </div>

       <script>
            @Html.Raw(string.Format(@" window.jQuery || document.write('<script src=""{0}Scripts/jquery-1.11.0.min.js""><\/script>');", 
                                    totalhr.web.Helpers.GenericHelper.WebsiteRoot))
        </script>
   </body>
    
   
</html>
