<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/popup.css")

     @RenderSection("extrastyles", required: false)
</head>
<body>
   <div id="main">
    <div class="content">
         <div class="popuphead">  
            
              @RenderSection("head2", required: true)             

              <div id="toolbox">
                  <span class="spclose" onclick="parent.ClosePopup('dvPopup')">&nbsp;</span>  
                  <!--<span class="spsave">&nbsp;</span>-->
                                  
              </div>
        </div> 
        
        @RenderBody()
            
        </div>
    </div>


    @RenderSection("scripts", required: false)

   <div id="dvPopupAjax" style="display:none;">
   </div>
</body>
</html>
