@using G = totalhr.web.Helpers;
@using totalhr.Resources;
@using totalhr.web.Areas.Admin.Helpers;
@using totalhr.web.Areas.Admin.Models;

@model IEnumerable<totalhr.data.EF.Form>

@{
    ViewBag.Title = AdminGeneric.V_Manage_Forms;

    var allForms = Model.ToList();  

    var searchInfo = new totalhr.Shared.Models.UserSearchInfo
    {
        OrderColumn = "FormId",
        OrderDirection = "Asc"
    };

    var breadCrumbItems = new List<BreadCrumbItem>
    {
        new BreadCrumbItem{Url = "", Text = AdminGeneric.V_Manage_Forms, Title= AdminGeneric.V_Manage_Forms}
    }; 
}


@section pagetitle{
   @AdminGeneric.V_Manage_Forms
}

@section breadcrumb{
    @Html.Raw(GenericHelper.MakeBreadCrumb(breadCrumbItems))
}




<div class="row-fluid">
    <p>
        @AdminGeneric.V_Select_Form_Intro
    </p>
   
    @if (allForms.Count > 0)
    {
    <div class="widget">
        <div class="widget-title">
            <h4><i class="icon-reorder"></i>@FormGenerator.V_Form_List</h4>
            <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>
                <a href="javascript:;" class="icon-remove"></a>
            </span>
        </div>
        <div class="widget-body">            
            <table class="table table-striped table-bordered" id="sample_1">
                <thead>     
                    <tr>
                        @Html.Raw(G.GenericHelper.MakeSortableTH("FormId", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,FormGenerator.V_Form_Id))
           
                        @Html.Raw(G.GenericHelper.MakeSortableTH("FormName", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,FormGenerator.V_Form_Name))
                  
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var form in allForms)
                    {
                        <tr>
                            <td>
                                @form.Id
                            </td>
                            <td>
                                @form.Name
                            </td>
               
                            <td>
                                <input type="button" class="edit" value="@AdminGeneric.V_More_Details" onclick="NavigateTo('/Admin/FormEditor/EditForm/@form.Id');" />
                            </td>
                        </tr>  
           
                    }
                </tbody>
            </table>
        </div>
    </div>
    }else{
        <p class="error">
            @AdminGeneric.V_No_FormFound
        </p>
    }


    <p>
        <input type="button" value="@Contract.V_Create_Form" onclick="OpenPopup('/Admin/FormEditor/CreateForm/1', 900, 600);" />
    </p>
</div>

