@model totalhr.Shared.Models.CalendarEventInfo
@using totalhr.Resources
@using System.Text
@using totalhr.Resources
@using System.Collections
@using totalhr.Shared
@using totalhr.web.Helpers

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Common.Page_TT_Calendar_Event_Add;


    var WeekDaysJS = ViewBag.WeekDaysJS;
    var sbJS = new StringBuilder();
    var sbAttendees = new StringBuilder();
    string defaultStartDate;
    string defaultEndDate;
    var sbRemindersJS = new StringBuilder();
    var reminderscount = (Model.Reminders == null) ? 0 : Model.Reminders.Count;
        
    var culture = new System.Globalization.CultureInfo(Model.UserCulture);

    defaultStartDate = (Model.StartDate > DateTime.MinValue) ? Model.StartDate.ToString(culture) : DateTime.Now.ToString(culture);
    defaultEndDate = (Model.EndDate > DateTime.MinValue) ? Model.EndDate.ToString(culture) : DateTime.Now.ToString(culture);
    
    if (Model.Reminders != null)
    {
        int i=0;
        
        foreach (totalhr.Shared.Models.CalendarEventReminder reminder in Model.Reminders)
        {
            sbRemindersJS.Append(string.Format(" Reminders[{0}]=[{1}, {2}, {3}, '{4}',{5}];" + Environment.NewLine,i, reminder.ReminderType,
                reminder.Frequency, reminder.FrequencyType, "", reminder.NotificationType));
            i++;
        }
    }
}


@section head2{
    <h2>@Common.Page_TT_Calendar_Event_Add</h2>
}



@using (Html.BeginForm("CreateEvent", "Calendar"))
{
     @Html.ValidationSummary()

    <div class="formwrapper">

            <div class="line">
                <div class="block">
			        <label class="fix200W">@FormMessages.Label_Title: <span class="req">*</span></label>
                    @Html.TextBoxFor(x => x.Title)                    
                </div>
            </div>

             <div class="line">
                 <div class="block">
                    <label class="fix200W">@FormMessages.Label_Location:</label>
                    @Html.TextBoxFor(x => x.Location) 
               </div>
            </div>

            <div class="longline">
                <div class="block">
                    <label class="fix200W">@FormMessages.Label_Description:</label>
                    @Html.TextAreaFor(x => x.Description, new { @rows = "6", @cols = "40" })
                </div>               
            </div>
        
            <div class="line">
                <div class="block">
                <label class="fix200W">@FormMessages.Label_Start_Date:<span class="req">*</span></label>
                    @Html.TextBoxFor(x => x.StartDate, defaultStartDate, new { @class = "datetype", onclick = "javascript:NewCal('StartDate','ddmmyyyy',true,24)" })
                </div>
            </div>          
    
            <div class="line"> 
                <div class="block">
                    <label class="fix200W">@FormMessages.Label_End_Date:<span class="req">*</span></label>
                    @Html.TextBoxFor(x => x.EndDate, defaultEndDate, new { @class = "datetype", onclick = "javascript:NewCal('EndDate','ddmmyyyy',true,24)" })
                    
                </div>
              
            </div>           
            
        <div class="line">
            <div class="block">
                <label class="fix200W"> @FormMessages.Label_Reminders</label>
                
                 <div class="childblock">
                    
                     <div class="head" onclick="ToggleExpand('dvReminderContent');">
                         <span id="spReminderCount" class="actiontitle">(
                             @if (reminderscount > 0)
                             {
                                @(reminderscount + " " + FormMessages.V_Added)
                             }
                             else
                             {
                                @FormMessages.V_None_Added
                             }
                       ) </span>

                         <span class="buttons">
                             
                             <span id="spaddrem" class="spadd" onclick="AddReminderRow();" />


                             @if (reminderscount > 0)
                             {
                                 <span class="spview" title="@FormMessages.Toolt_Add_Reminder" onclick=" Expand('spReminders'); ">
                                     &nbsp;
                                 </span>
                             }
                         </span>

                        <span id="spReminders" class="spview" style="display:none;">
                            &nbsp;
                        </span>

                     </div>

                     <div id="dvReminderContent" class="content" style="display:none;">
                           
                        <div id="dvReminderOptions" >
                             <div id="dvAddedReminders" style="min-height:100px;">                                
                             </div>
                            <div id="dvRemindersData"></div>
                         </div>

                         <div id="dvReminderList" class="reminderedit" style="display:none">
                             <span class="spclose" onclick="CancelDivPopup('dvReminderList');">&nbsp;</span>
                             <table>
                                 <tr>
                                     <td>
                                         <span id="ctremtype_1">
                                             @Html.Raw(CalendarHelper.GenerateReminderTypeSelect("selReminder_1", "selReminder_1", @" onchange=""CheckReminderValue(this);"" "))
                                         </span>
                                     </td>
                                     <td>
                                         <span id="ctremnotification_1">
                                             @Html.Raw(CalendarHelper.GenerateReminderNotificationSelect("selRemindernotif_1", "selRemindernotif_1", ""))
                                         </span>
                                     </td>
                                     
                                 </tr>
                                 <tr id="trCustomReminder" style="display:none;">

                                     <td><input type="text" class="shortnum" style="float:right" id="txtFrequency" value="5" /></td>
                                     <td>
                                         
                                         @Html.Raw(CalendarHelper.GenerateFrequencyDDl("ddlFrequencyBeforeType", "ddlFrequencyBeforeType", "")) 

                                     </td>
                                 </tr>
                                 <tr>
                                     <td>
                                         <input type="button" value="Add" class="btnsmall" onclick="SaveReminder();"/>
                                     </td>
                                     <td>
                                         &nbsp;
                                     </td>
                                 </tr>
                             </table>
                             
                             
                         </div>
                        

                     </div>

                       @Html.HiddenFor(x => x.ReminderXML)
                 </div>

              </div>
		    <div class="block">
			   
		    </div>
	    </div>


             <div class="line">
                  <div class="block">
			<label class="fix200W">@FormMessages.Label_TargetGroup <span class="req">*</span></label>
                 <div class="childblock">
                    
                     <div class="head" onclick="ToggleExpand('dvAttendeesContent')">
                         <span class="actiontitle">(
                             @(Model.TargetAttendeeGroupId > 0 ? EnumExtensions.Description((Variables.CalendarEventTarget)Model.TargetAttendeeGroupId) :
                                FormMessages.V_None_Added)
                         
                             )
                         </span>

                         <span class="buttons">
                          <span class="spedit" title="@FormMessages.Toolt_Edit_Reminder" onclick="Expand('spReminders');">
                            &nbsp;
                        </span>

                        <span class="spview" title="@FormMessages.Toolt_Add_Reminder" onclick="DialogAddReminder('dvReminders');">
                            &nbsp;
                        </span>
                             </span>
                     </div>
                     <div id="dvAttendeesContent" class="content" style="display:none">
                        @foreach (var num in (Variables.CalendarEventTarget[])Enum.GetValues(typeof(Variables.CalendarEventTarget)))
                        {
                            var schecked = (int)num == Model.TargetAttendeeGroupId ? " checked " : "";
                            sbAttendees.Append(string.Format("{0} = {1};" + Environment.NewLine, num.ToString(), (int)num));
                            @Html.Raw(CalendarHelper.GenerateAttendee(num, "TargetAttendeeGroupId", schecked));
                        }                         
                       
                        @Html.HiddenFor(x => x.InvitedUserIds)
                        @Html.HiddenFor(x => x.InvitedDepartmentIds)
                         
                        <div id="dvAttendeesOptions" class="optionbox" style="display:none;">
                        </div>
                     </div>

                </div>
                
              </div>
            </div>
            
          <div class="line">
                <div class="block">
			        <label class="fix200W">@FormMessages.Label_Repeat:</label>
                    
                    <div  id="dvRepeat" class="childblock">
                    
                        <div id="dvRepeatHead" class="head" onclick="ToggleExpand('dvRepeatContent',$.trim($('#StartDate').val()) != '' ,'hdnMissingStartDate', 'AdjustRepeatBasedOnStartDate')">
                           <span class="actiontitle">
                            ( @{
                        var title = Model.RepeatType > 0 ? EnumExtensions.Description((Variables.RepeatType)Model.RepeatType) : FormMessages.V_None_Added;
                        title = (title.Contains("{0}")) ? string.Format(title, Model.StartDate.DayOfWeek.ToString()) : title;
                            }
                            @Html.Raw(title)
                            )
                            </span>
                            <span class="buttons">
                             <span class="spedit" title="@FormMessages.Toolt_Edit_Reminder" onclick="Expand('spReminders');">
                                &nbsp;
                            </span>

                            <span class="spview" title="@FormMessages.Toolt_Add_Reminder" onclick="DialogAddReminder('dvReminders');">
                                &nbsp;
                            </span>
                            </span>
                        </div>

                    <div id="dvRepeatContent" class="content" style="display:none">
                        @foreach (var num in (Variables.RepeatType[])Enum.GetValues(typeof(Variables.RepeatType)))
                        {
                            var schecked = (int)num == Model.RepeatType ? " checked " : "";
                            sbJS.Append(string.Format("{0} = {1};" + Environment.NewLine, num.ToString(), (int)num));
                            @Html.Raw(CalendarHelper.GenerateRepeatByType(num, "RepeatTypeGroup", schecked));
                        }
                    
                        <div id="repeatOptions" class="optionbox" style="display:none;">
                        
                            <span id="spRepeatBattery" style="display:none;float:left;position:relative;z-index:1004;">
                                <input type="text" id="txtRepeatDate" name="txtRepeatDate" class="datetype"
                                    data-beatpicker="true" 
                                    data-beatpicker-format="[&#39;DD&#39;,&#39;MM&#39;,&#39;YYYY&#39;],separator:&#39;/&#39;" 
                                    data-beatpicker-module="gotoDate,clear" 
                                    data-beatpicker-position="[&#39;*&#39;,&#39;*&#39;]"  />

                                <input type="button" value="Add" onclick="KeepDateIn('txtRepeatDate')" />
                            </span>
                        
                            <span id="spUntilDate" style="display:none;float:left;position:relative;z-index:1004;">
                                Until: <input type="text" id="txtRepeatUntil" name="txtRepeatUntil" class="datetype"
                                    data-beatpicker="true" 
                                    data-beatpicker-format="[&#39;DD&#39;,&#39;MM&#39;,&#39;YYYY&#39;],separator:&#39;/&#39;" 
                                    data-beatpicker-module="gotoDate,clear" 
                                    data-beatpicker-position="[&#39;*&#39;,&#39;*&#39;]"  />
                                <input type="button" value="Set" onclick="SetUntilDateIn('txtRepeatUntil')" />
                            </span>
                        
                            <span id="spRepeatValue" style="display:none;float:left;position:relative;z-index:1004;">
                                Enter year:  <input type="text" id="txtRepeatValue" class="datetype"  />
                                <input type="button" value="Add" onclick="KeepDateIn('txtRepeatValue')" />
                            </span>
                            
                            <span id="sprepeatinfo"></span>
                        </div>
                        
                      </div>
                    </div>

                    @Html.HiddenFor(x => x.RepeatType)
                    @Html.HiddenFor(x => x.RepeatXML)  
                    
                    <span id="spmonthlydate"></span>              
                </div>

                <div class="block">
                    <span class="preview" id="sppreview"></span>
                </div>
            </div>    

        <div class="line">
            <div class="block">
                <label class="fix200W">&nbsp;</label>

                <input type="button" value="@FormMessages.btn_Reset" onclick='@( @"document.location.href=""/Calendar/CreateEvent/" + Model.CalendarId + @""" ")' />
                <input type="submit" value="@FormMessages.btn_Value_Save" onclick="return PrepareToSaveValues()" />
             </div>
        </div>
                
            @Html.HiddenFor(x => x.UserCulture)
            @Html.HiddenFor(x => x.CalendarId)


      </div>
      

}

    
<div class="status-box" id="status"></div>

@* <script type="text/javascript" src="/Scripts/Site/BeatPicker.min.js"></script>
    <script type="text/javascript" src="/Scripts/date.js"></script>*@

    <script type="text/javascript" src="/Scripts/Site/DatePicker.js"></script>
    <script type="text/javascript" src="/Scripts/Site/calendar.js" ></script>

<script type="text/javascript">

    var previousSelectedId = null;
    var repeatTypeSelectedid = null;
    var prevSelDisplayObj = null;
    var RepeatsToSave = new Array();
    var EventId = @Model.EventId;
    var ERROR_INVALID_DATE = "@FormMessages.Error_Invalid_Date";
    var REMINDER_TYPE_CUSTOMIZE = "@((int)Variables.CalendarEventReminderValues.Customize)";
    var NONE_ADDED_MESSAGE = "@FormMessages.V_None_Added";
    var MSG_BEFORE = "@Common.V_Before";

    @sbJS.ToString()
   
    @Html.Raw(WeekDaysJS)

    @Html.Raw(sbAttendees)
    

    MSG_ADDED = "@Html.Raw(FormMessages.V_Added)";
    MSG_MISSING_REMINDER_TYPE = "@Html.Raw(FormMessages.Error_Missing_Reminder_Type)";
    MSG_MISSING_REMINDER_VALUES = "@Html.Raw(FormMessages.Error_Missing_Reminder_Frequency_AndValues)";
    MSG_ERROR_SUBMIT_FAILED = "@Html.Raw(FormMessages.Error_Could_Not_Submit_Form)";
    MSG_ERROR_STARTDATE_AFTER_ENDDATE = "@Html.Raw(FormMessages.Error_StartDate_After_EndDate)";
    MSG_DUPLICATE_REMINDER = "@FormMessages.MSG_Duplicate_Reminder";

    $(document).ready(function() {

        //var statusGenerator = function(text) {
        //    var statusElem = $("#status");
        //    var child = $("<span></span>").text(text);
        //    statusElem.append(child);
        //};

        //StartDate.on("select", function(data) {
        //    var selectedDate = data.string;
        //    var objDate = parseDate(selectedDate);
        //    var dayIndex = objDate.getDay();
        //    var objList = $('#spRepeatDesc_' + OnDayOfTheWeek + ' .repDay');
            
        //    objList.each(function( i ) {
        //        $(this).html(weekday[dayIndex]);
        //    });
            
        //});

        @Html.Raw(sbRemindersJS.ToString())

        ApplyMessagesToReminders();
    });

    
</script>

<input type="hidden" id="hdnMissingStartDate" value="@totalhr.Resources.FormMessages.Error_StartDate_Before_Repeat" />


