@using totalhr.Resources
@using totalhr.web.Areas.Admin.Helpers
@using totalhr.web.Areas.Admin.Models

@model IEnumerable<totalhr.data.EF.ChatRoom>

@{
    ViewBag.Title = Common.V_Chat_Rooms;
    
    var breadCrumbItems = new List<BreadCrumbItem>
    {
        new BreadCrumbItem{Url = "", Text = Common.V_Chat_Rooms, Title= Common.V_Chat_Rooms}
    };

    bool bRoomsAvailable = false;   
}

@section pagetitle{
   @Common.V_Chat_Rooms
}

@section breadcrumb{
    @Html.Raw(GenericHelper.MakeBreadCrumb(breadCrumbItems))
}




<div class="row-fluid">
    <div class="widget">
        <div class="widget-title">
            <h4><i class="icon-reorder"></i>@Common.V_Chat_Room_List</h4>
            <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>
            </span>
        </div>
        <div class="widget-body"> 

            @foreach (var room in Model)
            {
                bRoomsAvailable = true;
                @room.Name <br/>
            }

            @if (!bRoomsAvailable)
            {
                <p class="error">@Common.V_Chat_NoRooms</p>
            }
            
            <p>
                <input type="button" value="Create Chatroom" onclick="NavigateTo('/Chat/CreateRoom/');"/>
            </p>
        </div>
    </div>
</div>


     @section scripts
{
    <script src="/Scripts/Site/Chat.js"></script>
}


@* <div id="YourNickname">
    </div>
    <div id="LastRefresh">
    </div>
    <div id="container">
        <div class="box" id="LoginPanel">
            Nick name :
            <input type="text" id="txtNickName" />
            <button id="btnLogin" value="Start">
                Start</button>
        </div>
    </div>
    <div id="Error">
    </div>
    @Ajax.ActionLink("Login", "Index", new { thisUserLoggedOn = "" }, new AjaxOptions { UpdateTargetId = "container", OnFailure = "LoginOnFailure", OnSuccess = "LoginOnSuccess" }, new { @id = "LoginButton", @style = "visibility:hidden;" })
*@

