@using totalhr.Resources
@using totalhr.web.Areas.Admin.Helpers
@using totalhr.web.Areas.Admin.Models

@model totalhr.Shared.Models.ChatRoom

@{
    ViewBag.Title = Common.V_Chat_Registration;
    
    var breadCrumbItems = new List<BreadCrumbItem>
    {
        new BreadCrumbItem{Url = "/Chat/", Text = Common.V_Chat_Rooms, Title= Common.V_Chat_Rooms},
        new BreadCrumbItem{Url = "", Text = Common.V_Chat_Registration, Title= Common.V_Chat_Registration}
    };
   
  
}

@section pagetitle{
   @Common.V_Chat_Registration
}

@section breadcrumb{
    @Html.Raw(GenericHelper.MakeBreadCrumb(breadCrumbItems))
}


<div class="row-fluid">
    <div class="span6">
        <!-- BEGIN CHAT PORTLET-->
        <div class="widget" id="">
            <div class="widget-title">
                <h4><i class="icon-comments-alt"></i> @Model.Name</h4>
				<span class="tools">
				<a href="javascript:;" class="icon-chevron-down"></a>
				<a href="javascript:;" class="icon-remove"></a>
				</span>
            </div>
            <div class="widget-body">
                <div id="RefreshArea">
                   @Html.Partial("ChatHistory")
                </div>
                <div class="chat-form">
                    <div class="input-cont">
                        <input id="txtMessage" type="text" placeholder="@Common.V_Chat_Type_Message" />
                    </div>
                    <div class="btn-cont">
                        <a href="javascript:SendMessage();" class="btn btn-primary">@Common.V_Chat_Send</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CHAT PORTLET-->
    </div>
</div>


@section scripts{
    @*<script type="text/javascript" src="~/Scripts/Site/Chat.js"></script>*@


<script type="text/javascript">
    var chatRoomId = @Model.DBid;
    
    function Refresh() {
        $('#RefreshArea').load('/Chat/RefreshMessages/@Model.DBid', function () {
            //alert('Load was performed.');
        });

        setTimeout("Refresh();", 5000);
    }
    
    function SendMessage() {
        var message = encodeURIComponent($('#txtMessage').val());

        if (message === '')
            return;
        
        var formData = {RoomId : chatRoomId, UserId: 59,  Nickname: "ravi", Message: message }; //Array

        $.ajax({
            url: "/Chat/PostMessage/",
            type: "POST",
            data: formData,
            success: function (data, textStatus, jqXHR) {
                alert(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    }
    
    $(document).ready(function () {
        Refresh();
    });
    
</script>
}

@*@model totalhr.Shared.Models.ChatModel

@{
    ViewBag.Title = "lobby";
    
}*@

@*<div id="RefreshArea">
    @{
        Html.RenderPartial("ChatHistory", Model);
    }
</div>
@Ajax.ActionLink("ActionLink", "Index", new { user = "", logOn="",logOff="",chatMessage = "" }, new AjaxOptions { UpdateTargetId = "RefreshArea", OnSuccess = "ChatOnSuccess", OnFailure = "ChatOnFailure" }, new { @id = "ActionLink", @style = "visibility:hidden;" })

<div id="Speak">
    <table border="0" width="100%">
        <tr>
            <td rowspan="2">
                <textarea id="txtSpeak" style="width: 100%" rows="3"></textarea>
            </td>
            <td>
                <button id="btnSpeak" value="Speak" style="font-weight: bold; width: 80px">
                    Speak</button>
            </td>
        </tr>
        <tr>
            <td>
                <button id="btnLogOff" value="LogOff" style="width: 80px">
                    LogOff</button>
            </td>
        </tr>
    </table>
</div>*@



 