@using totalhr.Resources;
@using totalhr.web.Helpers;
@using totalhr.core;
@model totalhr.web.Areas.Admin.Models.UserSearchResult 

@{
    var foundUsers = Model.FoundUsers.ToList();
    var searchInfo = Model.SearchInfo;

    int userCount = foundUsers.Count();
    
    
    var pagination = new totalhr.web.Areas.Admin.Models.Pagination
    {
        CurrentPage = searchInfo.PageNumber.GetValueOrDefault(),
        MainLink = "/Admin/User/",
        PageSize = searchInfo.PageSize.GetValueOrDefault(),
        TotalNoOfItems = (userCount > 0)? foundUsers.First().Total.GetValueOrDefault() : 0
    };
     
}

@if(userCount > 0){
    
  <div class="widget">
        <div class="widget-title">
            <h4><i class="icon-reorder"></i>@AdminGeneric.V_Employee_List</h4>
            <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>
                <a href="javascript:;" class="icon-remove"></a>
            </span>
        </div>
        <div class="widget-body">            
            <table class="table table-striped table-bordered" id="sample_1">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        @Html.Raw(GenericHelper.MakeSortableTH("UserId", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,Account.V_UserId))
                        <th>@Account.V_Title</th>
                        @Html.Raw(GenericHelper.MakeSortableTH("FirstName", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,Account.V_Firstname))
                        @Html.Raw(GenericHelper.MakeSortableTH("SurName", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,Account.V_Surname))
                       
                        @Html.Raw(GenericHelper.MakeSortableTH("Gender", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,Account.V_Gender))
                        @Html.Raw(GenericHelper.MakeSortableTH("Username", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,Account.V_UserName))
                        @Html.Raw(GenericHelper.MakeSortableTH("Email", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,Account.V_Email))
                        @Html.Raw(GenericHelper.MakeSortableTH("Department", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,Account.V_Department))
                        <th>@Account.V_Phone</th>                                
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in foundUsers)
                    {
                    <tr class="odd gradeX">
                        <td><input id="ck_@user.id" type="checkbox" class="checkboxes" value="1" /></td>
                        <td>
                            @user.id
                        </td>
                        <td>
                            @user.TitleTerm
                        </td>
                        <td>
                            @user.firstname               
                        </td>
                        <td>
                            @user.surname
                        </td>
                       
                        <td>
                            @user.GenderTerm
                        </td>
                        <td>
                            @user.username
                        </td>
                        <td>
                            @user.email
                        </td>
                        <td>
                            @user.DepartmentName
                        </td>
                        <td>
                            @user.Phone
                        </td>
                                        
                        <td>
                            <input type="button" class="edit" value="@AdminGeneric.V_More_Details" onclick="NavigateTo('/Admin/User/UserDetails/Guid/@user.userguid');" />
                        </td>
                    </tr> 
           
                    }
                </tbody>
            </table>

        </div>
  </div>
    
}else{
    <p class="error">
        @Error.Error_No_User_Found
    </p>
}
    

@Html.Partial("_Pagination", pagination)
 

<script type="text/javascript">
    function ToggleOrder(obj){
        var sortDirection = $('#' + obj.id).attr("class");  
        var sortColumn = $('#' + obj.id).attr("data-sortcolumn");

        if($('#frmSortForm') != null){
            $('#SortColumn').val(sortColumn);
            $('#SortDirection').val(sortDirection);
            $('#frmSortForm').submit();
        }
        else if($('#frmSearchForm') != null)
        {
            $('#OrderColumn').val(sortColumn);
            $('#OrderDirection').val(sortDirection);
            $('#frmSearchForm').submit();
        }
    }

    function Paginate(url){

        if($('#frmSortForm') != null){
            $('#frmSortForm').attr("action", url);
            $('#frmSortForm').submit();
        }
        else if($('#frmSearchForm') != null)
        {
            $('#frmSearchForm').submit();
        }
    }

</script>