@using totalhr.Resources;
@using totalhr.web.Helpers;
@using totalhr.core;
@model totalhr.web.Areas.Admin.Models.UserSearchResult 

@{
    var foundUsers = Model.FoundUsers.ToList();
    var searchInfo = Model.SearchInfo;

    int userCount = foundUsers.Count();
    
    
    var pagination = new totalhr.web.Areas.Admin.Models.Pagination
    {
        CurrentPage = searchInfo.PageNumber.GetValueOrDefault(),
        MainLink = "/Admin/User/",
        PageSize = searchInfo.PageSize.GetValueOrDefault(),
        TotalNoOfItems = (userCount > 0)? foundUsers.First().Total.GetValueOrDefault() : 0
    };
     
}

@if(userCount > 0){
    <table border="1" class="SortedTab">
        <tr>
            @Html.Raw(GenericHelper.MakeSortableTH("UserId", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,Account.V_UserId))
            <th>@Account.V_Title</th>
            @Html.Raw(GenericHelper.MakeSortableTH("FirstName", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,Account.V_Firstname))
            @Html.Raw(GenericHelper.MakeSortableTH("SurName", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,Account.V_Surname))
            <th>@Account.V_Other_Names</th>
            @Html.Raw(GenericHelper.MakeSortableTH("Gender", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,Account.V_Gender))
            @Html.Raw(GenericHelper.MakeSortableTH("Username", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,Account.V_UserName))
            @Html.Raw(GenericHelper.MakeSortableTH("Email", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,Account.V_Email))
            @Html.Raw(GenericHelper.MakeSortableTH("Department", "th", searchInfo.OrderColumn, searchInfo.OrderDirection,Account.V_Department))
            <th>@Account.V_Phone</th>
            <th>@Account.V_Mobile</th>            
            <th>&nbsp;</th>
        </tr>
        @foreach (var user in foundUsers)
        {
        <tr>
            <td>
                @user.id
            </td>
            <td>
                @user.TitleTerm
            </td>
            <td>
                @user.firstname               
            </td>
            <td>
                @user.surname
            </td>
            <td>
                @user.othernames
            </td>
            <td>
                @user.GenderTerm
            </td>
            <td>
                @user.username
            </td>
            <td>
                @user.email
            </td>
            <td>
                @user.DepartmentName
            </td>
            <td>
                @user.Phone
            </td>
                <td>
                @user.Mobile
            </td>               
            <td>
                <input type="button" class="edit" value="@AdminGeneric.V_More_Details" onclick="NavigateTo('/Admin/User/UserDetails/Guid/@user.userguid');" />
            </td>
        </tr>  
           
        }
    </table>
}else{
    <p class="error">
        @Error.Error_No_User_Found
    </p>
}
    

@Html.Partial("_Pagination", pagination)
 

<script type="text/javascript">
    function ToggleOrder(obj){
        var sortDirection = $('#' + obj.id).attr("class");  
        var sortColumn = $('#' + obj.id).attr("data-sortcolumn");

        if($('#frmSortForm') != null){
            $('#SortColumn').val(sortColumn);
            $('#SortDirection').val(sortDirection);
            $('#frmSortForm').submit();
        }
        else if($('#frmSearchForm') != null)
        {
            $('#OrderColumn').val(sortColumn);
            $('#OrderDirection').val(sortDirection);
            $('#frmSearchForm').submit();
        }
    }

    function Paginate(url){

        if($('#frmSortForm') != null){
            $('#frmSortForm').attr("action", url);
            $('#frmSortForm').submit();
        }
        else if($('#frmSearchForm') != null)
        {
            $('#frmSearchForm').submit();
        }
    }

</script>