@using totalhr.Resources;
@using totalhr.web.Helpers;
@using totalhr.Shared.Models;
@using GA = totalhr.web.Areas.Admin.Helpers;
@using  totalhr.web.Areas.Admin.Models;

@model totalhr.Shared.Models.TemplateInfo

@{
    ViewBag.Title = Contract.V_Template_Create;
    List<SelectListItem> itemList = null;
    
    try
    {
        itemList = GenericHelper.GetListFromNumerable(ViewBag.FormList as IEnumerable<ListItemStruct>);
    }
    catch
    {
        itemList = new List<SelectListItem>{new SelectListItem{Value = "", Text = Common.V_None}};
    }

    var breadCrumbItems = new List<BreadCrumbItem>
    {
        new BreadCrumbItem{Url = "/Admin/Contract/", Text = AdminGeneric.V_Contract_Management, Title= AdminGeneric.V_Contract_Management},
        new BreadCrumbItem{Url = "/Admin/Contract/Template", Text = AdminGeneric.V_Contract_Template_Management, Title= AdminGeneric.V_Contract_Template_Management},
         new BreadCrumbItem{Url = "", Text = Contract.V_Template_Create, Title= Contract.V_Template_Create}                
    };   
}

@section pagetitle{
   @Contract.V_Template_Create
}

@section breadcrumb{
    @Html.Raw(GA.GenericHelper.MakeBreadCrumb(breadCrumbItems))
}


    <div class="row-fluid">

       <div class="widget">
        <div class="widget-title">
            <h4><i class="icon-reorder"></i> @Contract.V_Template_Details</h4>
            <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>
                <a href="javascript:;" class="icon-remove"></a>
            </span>
        </div>
        <div class="widget-body">
        <p>
            @Html.Raw(Contract.V_Template_Details_Intro)
        </p>

        @using (Html.BeginForm("CreateTemplate", "Contract", FormMethod.Post, new { @id = "formTemplate", @class = "form-horizontal" }))
        {
            
             @Html.ValidationSummary()
                       
               <div class="control-group">
                    <label class="control-label">@Contract.V_Template_Name</label>                
                    <div class="controls">
                        <div class="input-append">
                                @Html.TextBoxFor(x => x.Name)
                        </div>
                    </div>
                </div>
               <div class="control-group">
                    <label class="control-label">@Contract.V_Description</label>                
                    <div class="controls">
                        <div class="input-append">
                                @Html.TextAreaFor(x => x.Description)
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Contract.V_Form</label>                
                    <div class="controls">
                        <div class="input-append">
                                @Html.DropDownListFor(x => x.FormId, itemList)
                            &nbsp;
                             <button type="button" class="btn btn-info" onclick="OpenPopup('/Admin/FormEditor/CreateForm/1', 900, 600);">
                                 <i class="icon-ok icon-white"></i> @Contract.V_New_Form
                             </button>
                              
                        </div>
                    </div>
                </div>
            
                 <div class="form-actions">
                    <button type="button" class="btn btn-success" onclick="$('#formTemplate').submit();"><i class="icon-ok icon-white"></i> @Contract.V_Save_Template</button>
                </div>                 

        }
        </div>
        </div>
       
    </div>

