@using totalhr.Resources;
@using totalhr.web.Helpers;
@using totalhr.Shared.Models;
@using  totalhr.web.Areas.Admin.Models;
@using GA = totalhr.web.Areas.Admin.Helpers;

@model totalhr.data.EF.ContractTemplate

@{
    ViewBag.Title = Contract.V_Edit_Template;
    List<SelectListItem> itemList = null;
    
    try
    {
        itemList = GenericHelper.GetListFromNumerable(ViewBag.FormList as IEnumerable<ListItemStruct>);
    }
    catch
    {
        itemList = new List<SelectListItem>{new SelectListItem{Value = "", Text = Common.V_None}};
    }

    var breadCrumbItems = new List<BreadCrumbItem>
    {
        new BreadCrumbItem{Url = "/Admin/Contract/", Text = AdminGeneric.V_Contract_Management, Title= AdminGeneric.V_Contract_Management},
        new BreadCrumbItem{Url = "/Admin/Contract/Template", Text = AdminGeneric.V_Contract_Template_Management, Title= AdminGeneric.V_Contract_Template_Management},
         new BreadCrumbItem{Url = "", Text = Contract.V_Edit_Template, Title= Contract.V_Edit_Template}                
    };   
}


@section pagetitle{
   @Contract.V_Edit_Template
}

@section breadcrumb{
    @Html.Raw(GA.GenericHelper.MakeBreadCrumb(breadCrumbItems))
}

 <div class="row-fluid">

       <div class="widget">
        <div class="widget-title">
            <h4><i class="icon-reorder"></i> @Contract.V_Template_Details</h4>
            <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>
                <a href="javascript:;" class="icon-remove"></a>
            </span>
        </div>
        <div class="widget-body">

        <p>
           @Html.Raw(Contract.V_Template_Details_Intro)
        </p>

        @using (Html.BeginForm("EditTemplate", "Contract", FormMethod.Post, new { @id = "formTemplate", @class = "form-horizontal" }))
        {
            
             @Html.ValidationSummary()
             @Html.HiddenFor(x => x.id)     
           
               
                
                     <div class="control-group">
                        <label class="control-label">@Contract.V_Template_Id</label>
                         <div class="controls">
                            <div class="input-append">@Model.id</div>
                         </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">@Contract.V_Template_Name</label>
                        <div class="controls">
                            <div class="input-append"> 
                                @Html.TextBoxFor(x => x.Name)
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">@Contract.V_Description</label>
                        <div class="controls">
                            <div class="input-append">
                                @Html.TextAreaFor(x => x.Description)
                            </div>
                        </div>                       
                    </div>

                    <div class="control-group">
                        <label class="control-label">@Contract.V_Form</label>
                        <div class="controls">
                            <div class="input-append"> 
                                @Html.DropDownListFor(x => x.FormId, itemList)                                  
                                 <button type="button" class="btn btn-info" onclick="OpenPopup('/Admin/FormEditor/CreateForm/1', 900, 600);">
                                     <i class="icon-ok icon-white"></i> @Contract.V_New_Form
                                 </button>
                              </div>
                        </div>                       
                    </div>

                     <div class="control-group">
                        <label class="control-label">@Contract.V_Last_Updated</label>
                        <div class="controls">
                            <div class="input-append">
                                @Model.Lastupdated
                             </div>
                        </div>                         
                    </div>

                     <div class="control-group">
                        <label class="control-label">@Contract.V_Last_Updated_By</label>
                        <div class="controls">
                            <div class="input-append">
                                @Model.LastUpdatedBy
                             </div>
                        </div>                         
                    </div>

                    <div class="control-group">
                        <label class="control-label">&nbsp;</label>
                        <div class="controls">
                            <div class="input-append">
                                 <button type="button" class="btn btn-success" onclick="$('#formTemplate').submit();"><i class="icon-ok icon-white"></i> @Contract.V_Save_Template</button>
                                
                             </div>
                        </div> 
                    </div>
                
        }

       </div>
    </div>
</div>

