@using totalhr.Resources;
@using totalhr.web.Areas.Admin.Helpers;
@using totalhr.web.Areas.Admin.Models;

@{
    ViewBag.Title = AdminGeneric.V_Contract_Management;
    
    var breadCrumbItems = new List<BreadCrumbItem>
    {
        new BreadCrumbItem{Url = "", Text = AdminGeneric.V_Contract_Management, Title= AdminGeneric.V_Contract_Management}
    };   
}

@section pagetitle{
   @AdminGeneric.V_Contract_Management
}

@section breadcrumb{
    @Html.Raw(GenericHelper.MakeBreadCrumb(breadCrumbItems))
}


<div class="row-fluid">
     <div class="widget">
        <div class="widget-title">
            <h4><i class="icon-reorder"></i>@AdminGeneric.V_Choose_Option</h4>
            <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>
            </span>
        </div>
        <div class="widget-body"> 
            <br />
            <p>
                <a href="/Admin/Contract/Manage/" title="@Contract.V_Contract_Management_SelUser">
                    @Contract.V_Contract_Management_SelUser
                </a>
            </p>
            <p>
                <a href="/Admin/Contract/Template/" title="@AdminGeneric.V_Manage_Templates">
                    @AdminGeneric.V_Manage_Templates
                </a>
            </p>
            <br />
        </div>
    </div>
</div>

