@using System.Globalization
@using totalhr.Resources;
@using H = totalhr.web.Helpers;

@using AH = totalhr.web.Areas.Admin.Helpers;
@using totalhr.web.Areas.Admin.Models;

@model totalhr.web.Areas.Admin.Models.UserContractDetails

@{
    ViewBag.Title = Contract.V_User_Contract;    

    var contractId = 0;
    var templateId = 0;
    var userId = Model.UserDetails.id;
    var source = string.Empty;
    var selTemplate = "";
    var templateName = string.Empty;
    
    if (Model.Contract != null)
    {
        contractId = Model.Contract.id;
        templateId = Model.Contract.TemplateId;
        source = System.Web.VirtualPathUtility.ToAbsolute(@"~/Admin/Contract/FillContract/" + userId); 
        selTemplate = templateId.ToString(CultureInfo.InvariantCulture);        
        
        if(Model.TemplateList != null){
            var firstOrDefault = Model.TemplateList.FirstOrDefault(x => x.Id == templateId);
            if (firstOrDefault != null)
            {
                templateName = firstOrDefault.Name;
            }
        }
    }

      
    var templateListHtml = H.GenericHelper.GenerateSelectHtmlFromNumerable(Model.TemplateList, "templateId", @" onchange=""SubmitForm()"" ", selTemplate);

    var breadCrumbItems = new List<BreadCrumbItem>
    {
        new BreadCrumbItem{Url = "/Admin/Contract", Text = AdminGeneric.V_Contract_Management, Title= AdminGeneric.V_Contract_Management},
        new BreadCrumbItem{Url = "/Admin/Contract/Manage/", Text = Contract.V_Contract_Management_SelUser, Title= Contract.V_Contract_Management_SelUser},
        new BreadCrumbItem{Url = "", Text = Contract.V_User_Contract, Title= Contract.V_User_Contract}
    };

    var templatesList = new List<SelectListItem> { new SelectListItem { Value = "", Text = Common.V_None } };
    
    try
    {
        templatesList = totalhr.web.Areas.Admin.Helpers.GenericHelper.GetListFromNumerable(Model.TemplateList);
    }
    catch
    {
        
    }
}

      
    @section pagetitle{
       @Contract.V_User_Contract
    }

    @section breadcrumb{
        @Html.Raw(AH.GenericHelper.MakeBreadCrumb(breadCrumbItems))
    }

    <div class="row-fluid">        
        <div class="widget">
            <div class="widget-title">
                <h4><i class="icon-reorder"></i>@string.Format(Contract.V_User_Contract_Details,
                    Model.UserDetails.firstname + " " + Model.UserDetails.surname)</h4>
                <span class="tools">
                    <a href="javascript:;" class="icon-chevron-down"></a>
                    <a href="javascript:;" class="icon-remove"></a>
                </span>
            </div>
            <div class="widget-body"> 

        @if (ViewBag.ModelSaved != null && Convert.ToBoolean(ViewBag.ModelSaved))
        {
            <div class="savesuccess">
                @Contract.V_Contract_Saved    
            </div>
        }
       

        @using (Html.BeginForm("SaveUserContract", "Contract", FormMethod.Post, new { @id = "frmContract", @class = "form-horizontal" }))
             {
            
                     @Html.ValidationSummary()

                     @Html.HiddenFor(x => x.UserDetails.id)      
                   
                                           
                              <div class="control-group">
                                <label class="control-label">@Contract.V_User_Name:</label>
                                    
                                  <div class="controls">
                                      <input class="span4 " type="text" placeholder="@(Model.UserDetails.firstname + " " + Model.UserDetails.surname)" disabled />
                                  </div>
                               </div>

                                <div class="control-group">
                                    <label class="control-label">@Contract.V_Template_Name</label>
                                     <div class="controls">
                                        <div>
                                        @if (!string.IsNullOrEmpty(templateName))
                                        {
                                            <input class="span4 " type="text" placeholder="@templateName" disabled />
                                        }else{
                                            @Html.DropDownListFor(x => x.TemplateId, templatesList, new { @id="ddlTemplate", @name="TemplateId",  @onchange="LoadForm()" })
                                        }
                                       
                                        </div>
                                       </div>
                                </div>

                                if (Model.Contract != null)
                                {
                                   <div class="control-group">
                                        <label class="control-label">@Contract.V_Created_By</label>
                                         <div class="controls">
                                            <input class="span4 " type="text" placeholder="@(Model.UserDetails.firstname + " " + Model.UserDetails.surname)" disabled="disabled" />
                                          </div>                        
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">@Contract.V_Created</label>
                                         <div class="controls">
                                             <input class="span4 " type="text" placeholder="@Model.Contract.Created" disabled="disabled" />
                                         </div>    
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">@Contract.V_Last_Updated</label>
                                         <div class="controls">
                                            <input class="span4 " type="text" placeholder="@((Model.Contract.User2 != null)? Model.Contract.Lastupdated.ToString() : "")" disabled="disabled" />
                                          </div>                        
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">@Contract.V_Last_Updated_By</label>
                                         <div class="controls">
                                            <input class="span4 " type="text" placeholder="@((Model.Contract.User2 != null)? Model.Contract.User2.firstname + " " + Model.Contract.User2.surname : "")" disabled="disabled" />
                                         </div>                        
                                    </div>
                                }

                                <input type="hidden" value="@contractId" id="ContractId" name="ContractId" />
                                <input type="hidden" value="@userId" id="UserId" name="UserId" />
                                <input type="hidden" value="@templateId" id="TemplateId" name="TemplateId" />
            
                                <div class="form-actions">
                                 @if (contractId > 0)
                                 {
                     
                                         <button type="button" class="btn btn-success" onclick=" OpenContract(); "><i class="icon-ok icon-white"></i> 
                                             @Contract.V_Fill_Contract_Form
                                         </button>
                     
                                 }
                                 else
                                 {

                                     <button type="button" class="btn btn-success" onclick=" $('#frmContract').submit(); "><i class="icon-ok icon-white"></i> 
                                         @Contract.V_Save_Contract
                                     </button>
                                 }
                                </div>

             }
            </div>
        </div>
    </div>

    <div class="row-fluid" id="formPreview">
        <iframe id="frmForm"  class="inlineframe"  style="margin:auto;width:1000px;min-height:500px;border:1px solid grey;background-color:beige;"></iframe>
    </div>


<input type="hidden" id="hdnErrorTemplateNotSelected" value="@Contract.Error_Template_Not_Selected" />

@section scripts{
    <script type="text/javascript">

        var contractSource = '@source';
        
        function LoadForm(obj) {
            var templateid = $('#ddlTemplate').val();
            $("#frmForm").attr("src", "/Admin/FormEditor/Preview/" + templateid);
        }

        function OpenContract() {
            $("#frmForm").attr("src", "@source");
        }

        $(document).ready(function () {
            if (contractSource != '') {
                $("#frmForm").attr("src", contractSource);
            }
        });
        
    </script>
}
