@using totalhr.Resources;
@using totalhr.web.Areas.Admin.Helpers;
@using totalhr.web.Areas.Admin.Models;

@model List<totalhr.data.EF.User>

@{
    ViewBag.Title = Contract.V_Contract_Management;
    var breadCrumbItems = new List<BreadCrumbItem>
    {
        new BreadCrumbItem{Url = "/Admin/Contract", Text = AdminGeneric.V_Contract_Management, Title= AdminGeneric.V_Contract_Management},
        new BreadCrumbItem{Url = "", Text = Contract.V_Contract_Management_SelUser, Title= Contract.V_Contract_Management_SelUser}
    };   
}

@section pagetitle{
   @AdminGeneric.V_Contract_Management
}

@section breadcrumb{
    @Html.Raw(GenericHelper.MakeBreadCrumb(breadCrumbItems))
}


    <div class="row-fluid">
        <div class="widget">
            <div class="widget-title">
                <h4><i class="icon-reorder"></i>@Contract.V_Contract_Select_User</h4>
                <span class="tools">
                    <a href="javascript:;" class="icon-chevron-down"></a>
                </span>
            </div>
            <div class="widget-body">
                <p>
                    @Html.Raw(Contract.V_Contract_Choose_User_Intro)
                </p>

                <div class="wide">

                  <form name="frmUser" id="frmUser" action="/Admin/Contract/ManageUserContract">
                      <b>@AdminGeneric.V_Select_User</b> &nbsp;
                      <select name="slUserList" id="slUserList" onchange="SubmitForm()">
                          <option>@AdminGeneric.V_Select</option>
                          @foreach (var user in Model)
                          {
                              <option value="@user.id">@(user.firstname + " " + user.surname)</option>
                          }
                      </select>

                  </form>
                </div>
           </div>
        </div>
        
  </div>


<input type="hidden" id="hdnErrorUserNotSelected" value="@Contract.Error_Select_User" />

@section scripts{
    <script type="text/javascript">
        function SubmitForm() {
            var val = $("#slUserList option:selected").val();
            if (val > 0) {
                $('#frmUser').submit();
            } else {
                alert($('#hdnErrorUserNotSelected').val());
            }
        }

    </script>
}