@model totalhr.web.ViewModels.TaskSchedulerDetailsVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Task Scheduler</legend>

    @Html.HiddenFor(model => model.Id)


    @Html.HiddenFor(model => model.UserId)

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ApprovalNeeded)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.ApprovalNeeded)
    </div>


    <div class="editor-label">
        @Html.LabelFor(model => model.ScheduledDateTime)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.ScheduledDateTime)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.AssignedBy)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(x => x.AssignedByUser)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.AssignedTo)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(x => x.AssignedToUser)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Department)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(x => x.Department)
    </div>
    @if (Model.TimeRecordings != null && Model.TimeRecordings.Any())
    {
        <fieldset>
            <legend>Time Recordings</legend>
            <table>
                <tr>
                    <td>
                        Start Time
                    </td>
                    <td>
                        End Time
                    </td>
                    <td>
                        Duration Recorded
                    </td>
                    <td></td>
                </tr>
                @foreach (var result in Model.TimeRecordings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => result.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(x => result.EndTime)
                        </td>
                        <td>
                            @Html.DisplayFor(x => result.RecordedDuration)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "RecordTime", "TimeRecording", new { id = result.Id, typeId = 2, taskRef = Model.Id }, null)  
                        </td>
                    </tr>
                }
            </table>
        </fieldset>
    }
<p>
    @Html.ActionLink("Edit", "Record", new { id = Model.Id }) |
    @Html.ActionLink("Add Time", "RecordTime", "TimeRecording", new { id = 0, typeId = 2, taskRef = Model.Id }, null) |
    @Html.ActionLink("Back to List", "Search")
</p>
</fieldset>
<div>
    <br />
    <br />
    <br />
    <br />
</div>

