@using totalhr.Resources
@using TH = totalhr.web.Helpers;
@using AH = totalhr.web.Areas.Admin.Helpers;
@using AM = totalhr.web.Areas.Admin.Models;

@{
    ViewBag.Title = Task.V_Task_Scheduler;

    var breadCrumbItems = new List<AM.BreadCrumbItem>
    {
        new AM.BreadCrumbItem{Url = "", Text = Task.V_Task_Scheduler, Title= Task.V_Task_Scheduler}
    };

  
}

@section pagetitle{
   @Task.V_Task_Scheduler
}

@section breadcrumb{
    @Html.Raw(AH.GenericHelper.MakeBreadCrumb(breadCrumbItems))
}

<div class="row-fluid">
     <div class="widget">
        <div class="widget-title">
            <h4><i class="icon-reorder"></i> @Task.V_Task_Scheduler_Options</h4>
            <span class="tools">
                <a href="javascript:;" class="icon-chevron-down"></a>
            </span>
        </div>
        <div class="widget-body">
            <div>
                @Html.ActionLink(Task.V_Create_Task,"Record")
            </div>
            <br />
            <div>
                @Html.ActionLink(Task.V_Sear_Edit_Record_Task, "Search")
            </div>
        </div>
    </div>
</div>


