@model totalhr.Shared.Models.UserProfileDetails

@using totalhr.Resources
@using totalhr.Shared
@using totalhr.Shared.Models
@using  totalhr.data.EF
@using totalhr.web.Helpers
@using AH = totalhr.web.Areas.Admin.Helpers
@using totalhr.web.Areas.Admin.Models


<div id="widgetEditDetails" class="widget-body">

        <div class="formdiv midform" style="display:none">

        @*using (Html.BeginForm("SaveUserDetails", "Account"))
        {
            
        if(Model.DetailsSaveSuccess){
            <div id="dvSaveSuccess" class="savesuccess">
                @FormMessages.MSG_Details_Saved
            </div>
        }
            
        @Html.ValidationSummary()

        
            <div class="wrapper">

                 <fieldset>
               <legend>@FormMessages.Title_Personal_Details</legend>
                
                <div class="line">
                    <label>@FormMessages.Label_Gender <b class="req">*</b></label>
                     <span>@Html.DropDownListFor(x => x.GenderId,  new SelectList(genders, "RootId", "Term"))</span>
                    
                </div>
                 <div class="line">
                    <label>@FormMessages.Label_Title <b class="req">*</b></label>
                     <span>@Html.DropDownListFor(x => x.Title, new SelectList(titles, "RootId", "Term"), 
                        new { onchange = string.Format("CheckOther(this, 'spOther', {0})", (int)totalhr.Shared.Variables.NamedGlossaryIds.OtherTitle) })
                         &nbsp;
                        <span id="spOther" style="display:none">@Html.TextBoxFor(x => x.OtherTitle , new { size = "20", maxlength = "30" })</span>
                     </span>
                    
                </div>
                 <div class="line">
                    <label>@FormMessages.Label_First_Name <b class="req">*</b></label>
                    <span>@Html.TextBoxFor(x => x.FirstName , new { size = "45", maxlength = "50" })</span>
                    
                </div>
                 <div class="line">
                    <label>@FormMessages.Label_MiddleName <b class="req"></b></label>
                     <span>@Html.TextBoxFor(x => x.MiddleNames, new {size="45", maxlength="50"})</span>
                    
                </div>
                 <div class="line">
                    <label>@FormMessages.Label_Last_Name <b class="req">*</b></label>
                    <span>@Html.TextBoxFor(x => x.Surname , new { size = "45", maxlength = "50" })</span>
                    
                </div>
                <div class="line">
                    <label>@FormMessages.Label_Email <b class="req">*</b></label>
                    <span>@Html.TextBoxFor(x => x.Email , new { size = "45", maxlength = "150" })</span>
                    
                </div>                
                
                <div class="line">
                    <label>@FormMessages.Label_Address <b class="req">*</b></label>
                    <span>@Html.TextBoxFor(x => x.Address1 , new { size = "45", maxlength = "250" })</span>
                    
                </div>
                 <div class="line">
                    <label>&nbsp;</label>
                    <span>@Html.TextBoxFor(x => x.Address2 , new { size = "45", maxlength = "250" })</span>
                    
                </div>
                 <div class="line">
                    <label>&nbsp;</label>
                    <span>@Html.TextBoxFor(x => x.Address3 , new { size = "45", maxlength = "250" })</span>
                   
                </div>
                 <div class="line">
                    <label>@FormMessages.Label_City <b class="req">*</b></label>
                    <span>@Html.TextBoxFor(x => x.City , new { size = "20", maxlength = "50" })</span>
                    
                </div>
                <div class="line" >
                    <label>@FormMessages.Label_State</label>
                    <span>@Html.TextBoxFor(x => x.State , new { size = "20", maxlength = "50" })</span>
                   
                </div>
                <div class="line">
                    <label>@FormMessages.Label_PostCode</label>
                    <span>@Html.TextBoxFor(x => x.PostCode , new { size = "10", maxlength = "20" })</span>
                   
                </div>
                <div class="line">
                    <label>@FormMessages.Label_Country <b class="req">*</b></label>
                    <span>@Html.DropDownListFor(x => x.CountryId,  new SelectList(countries, "RootId", "Term"))</span>
                    
                </div>
                 <div class="line">
                    <label>@FormMessages.Label_Phone <b class="req">*</b></label>
                    <span>@Html.TextBoxFor(x => x.PersonalPhone, new { size = "20", maxlength = "20" })</span>
                    
                </div>
                 <div class="line">
                    <label>@FormMessages.Label_Mobile</label>
                    <span>@Html.TextBoxFor(x => x.MobilePhone, new { size = "20", maxlength = "20" })</span>
                    
                </div>
                
                </fieldset>

                 <fieldset>

                <legend>@FormMessages.Title_Logon_Details</legend>

                 <div class="line">
                    <label>@FormMessages.Label_Username <b class="req">*</b></label>
                    <span>
                        @Html.TextBoxFor(x => x.UserName , new { size = "20", maxlength = "20", autocomplete ="off" })
                     </span>
                    
                </div>
                <div class="line">
                    <label>@FormMessages.Label_Password <b class="req">*</b></label>
                    <span>@Html.PasswordFor(x => x.Password , new { size = "20", maxlength = "15", autocomplete ="off", value=Model.Password })</span>
                    <span id="spAction" class="actionlink" onclick="RevealPassToSpan('Password', 'spupss', this, 'spAlternate');">@Common.V_Show</span>
                    <span id="spupss" class="passdisplay" style="display:none"></span>    
                    <span id="spAlternate" style="display:none">@Common.V_Hide</span>                
                </div>
                                
                 <div class="line">
                    <label>@FormMessages.Label_Pref_Language</label>
                    <span>@Html.DropDownListFor(x => x.PreferedLanguageId,  new SelectList(languagesSelect, "Value", "Text"))</span>
                    
                </div>
                
                </fieldset>

                <div class="line">
                    &nbsp;
                </div>
                <div class="line">
                    <label>&nbsp;</label>
                    <span>
                        <input type="button" value="@FormMessages.btn_Cancel" onclick="" /> &nbsp;
                        <input type="submit" value="@FormMessages.btn_Value_Save" /></span>
                    <span class="req"></span>
                </div>
                <div class="line">&nbsp;</div>
            </div>

        
            @Html.HiddenFor(x => x.UserId)
            @Html.HiddenFor(x => x.CompanyId)
        }*@
        </div>

      </div>