@model Authentication.Models.ClientUser

@using totalhr.Resources;
@using totalhr.Shared;

@{
    ViewBag.Title = Common.Page_TT_Header_Account_Home;
    
    //Add Kernel restriction for feature (calendar)
    bool bDisplayCalendar = true;
}

@{Html.RenderPartial("_FormScripts");}


<div id="main">
    <div class="content">
        <h1>@Common.Page_TT_Account_Home</h1>

        <div id="dvAccount">
                    
        <p>
            <a href="/account/Logout" >@Account.btn_Loggout</a>
        </p>

        <p>
            @Html.Raw(string.Format(Account.MSG_Welcome, Model.FullName))
        </p>

        <div>
           
            <div class="option" onclick="document.location.href='/Account/MyDetails'">
                <h4>@Account.tt_Personal_Details</h4>
                <div class="cont">

                </div>
            </div>

             @if (bDisplayCalendar)
             {
                <div class="option" onclick="document.location.href='/Calendar/'">
                    <h4>@Account.tt_My_Calendars</h4>
                    <div class="cont">

                    </div>
                </div>
             }

            <div class="option" onclick="document.location.href='/Document/'">
                    <h4>@Account.tt_My_Documents</h4>
                    <div class="cont">

                    </div>
                </div>

        </div>

        </div>
      </div>
 </div>