@model Authentication.Models.ClientUser

@using totalhr.Shared;
@using totalhr.Resources;
@using totalhr.web.Areas.Admin.Helpers;
@using totalhr.web.Areas.Admin.Models;

@{
    ViewBag.Title = Account.V_Dashboard;
    var breadCrumbItems = new List<BreadCrumbItem>
    {
        new BreadCrumbItem{Url = "", Text = Account.V_Dashboard, Title= Account.V_Dashboard}
    };
    //Add Kernel restriction for feature (calendar)
    bool bDisplayCalendar = true; 
}

@section pagetitle{
    @Account.V_Dashboard
} 


@section breadcrumb{
    @Html.Raw(GenericHelper.MakeBreadCrumb(breadCrumbItems))
}



@{Html.RenderPartial("_FormScripts");}
   
<div class="row-fluid">
    <div class="alert">
            @Html.Raw(string.Format(Account.MSG_Welcome, Model.FullName))
        </div>
</div>
<div class="square-state">
    <div class="row-fluid">
        <a class="icon-btn span2" href="/Account/MyDetails">
            <i class="icon-group"></i>
            <div>@Account.V_My_Profile</div>
        </a>

         @if (bDisplayCalendar)
        {
             <a class="icon-btn span2" href="/Calendar/">
                <i class="icon-group"></i>
                <div>@Account.V_Calendars</div>
            </a>
         }

         <a class="icon-btn span2" href="/Document/">
            <i class="icon-group"></i>
            <div>@Account.V_Documents</div>
        </a>
    </div>
 </div>

 
  

    

 

