@model totalhr.Shared.Models.UserProfileDetails

@using totalhr.Resources
@using totalhr.Shared
@using totalhr.Shared.Models
@using  totalhr.data.EF
@using totalhr.web.Helpers
@using AH = totalhr.web.Areas.Admin.Helpers
@using totalhr.web.Areas.Admin.Models

@{
    var avatar = "avatar.png";
    var smallAvatar = "avatar-mini.png";
    var portrait = "profile-pic.jpg";
    var dateOfBirth = "";
    
    var breadCrumbItems = new List<BreadCrumbItem>
    {
        new BreadCrumbItem{Url = "", Text = Account.V_My_Profile, Title= Account.V_My_Profile}
    };
    
    var jobtitle = Model.CustomFields.FirstOrDefault(x => x.CustomFieldIdentifier == totalhr.Shared.Variables.CustomFieldIdentifier.JOBTITLE.ToString());
    var jobtitlevalue = string.Empty;
    
    if(jobtitle != null)
    {
      jobtitlevalue = jobtitle.CustomFieldValue;   
    }

    var dateOfBirthField = Model.CustomFields.FirstOrDefault(x => x.CustomFieldIdentifier.Equals(Variables.CustomFieldIdentifier.DOB.ToString()));
    
    if (dateOfBirthField != null)
    {
        dateOfBirth = dateOfBirthField.CustomFieldValue;
    }
    
    foreach (var picture in Model.UserProfilePicture)
    {
        switch (picture.PictureTypeId)
        {
            case (int)Variables.ProfilePictureType.Portrait:
                portrait = picture.FileName;
                break;
            case (int)Variables.ProfilePictureType.Avatar:
                avatar = picture.FileName;
                break;
            case (int)Variables.ProfilePictureType.SmallAvatar:
                smallAvatar = picture.FileName;
                break;
        }
    }

 }


@section pagetitle{
   @Account.V_My_Profile
}

@section breadcrumb{
    @Html.Raw(AH.GenericHelper.MakeBreadCrumb(breadCrumbItems))
}

<div class="row-fluid">

<div class="span12">
    <div class="widget">
        <div class="widget-title">
            <h4><i class="icon-reorder"></i>@Account.V_Profile</h4>
            <span class="tools">
                <a href="/Account/EditMyDetails/" class="icon-pencil"></a>
                <a href="javascript:;" class="icon-chevron-down"></a>
                
            </span>
        </div>
        <div id="widgetDetails" class="widget-body"> 
             <div class="span3">
                 <div class="text-center profile-pic" onclick="OpenPopup('/File/UploadProfilePicture/', 1000, 600, true)">
                     <img src="/Employee/Profile/Picture/@portrait" alt="@Account.V_Your_Profile_Picture" />
                     <br/>
                     <i class="icon-pencil"> @Account.V_Edit_Profile_Picture</i>
                     <br/>
                 </div>
                 
                 <div class="text-center avatar-pic" onclick="OpenPopup('/File/UploadAvatar/', 1000, 600, true)">
                     <img src="/Employee/Profile/avatar/@avatar" alt="@Account.V_Your_Avatar" />
                      <br/>
                     <i class="icon-pencil"> @Account.V_Edit_Avatar</i>
                 </div>
                 
                 <div class="text-center small-avatar-pic" onclick="OpenPopup('/File/UploadSmallAvatar/', 1000, 600, true)">
                     <img src="/Employee/Profile/avatar-mini/@smallAvatar" alt="@Account.V_Your_Small_Avatar" />
                      <br/>
                     <i class="icon-pencil"> @Account.V_Edit_Small_Avatar</i>
                     <br/>

                  
                 </div>
                 
            </div>

            <div class="span6">
                <h4>@(Model.FirstName + " " + Model.Surname)
                    <br/><small>@jobtitlevalue</small>
                </h4>

                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td class="span2"><b>@FormMessages.Label_Title :</b></td>
                                <td>
                                    @(Model.Title)
                                </td>
                            </tr>
                            <tr>
                                <td class="span2"><b>@FormMessages.Label_First_Name :</b></td>
                                <td>
                                    @Model.FirstName
                                </td>
                            </tr>
                            <tr>
                                <td class="span2"><b>@FormMessages.Label_MiddleName :</b></td>
                                <td>
                                    @Model.MiddleNames
                                </td>
                            </tr>
                            <tr>
                                <td class="span2"><b>@FormMessages.Label_Last_Name :</b></td>
                                <td>
                                    @Model.Surname
                                </td>
                            </tr>
                            <tr>
                                <td class="span2"><b>@FormMessages.Label_Country :</b></td>
                                <td>
                                    @Model.Country
                                </td>
                            </tr>
                            <tr>
                                <td class="span2"><b>@FormMessages.Label_DOB :</b></td>
                                <td>
                                    @dateOfBirth
                                </td>
                            </tr>
                            <tr>
                                <td class="span2"><b>@FormMessages.Label_Occupation :</b></td>
                                <td>
                                    @jobtitlevalue
                                </td>
                            </tr>
                            
                            <tr>
                                <td class="span2"><b> @FormMessages.Label_Mobile :</b></td>
                                <td>
                                    @Model.MobilePhone
                                </td>
                            </tr>

                            <tr>
                                <td class="span2"><b> @FormMessages.Label_Email :</b></td>
                                <td>
                                    @Model.Email
                                </td>
                            </tr>
                            <tr>
                                <td class="span2"><b>@FormMessages.Label_Department :</b></td>
                                <td>
                                    @Model.Department
                                </td>
                            </tr>
                           <tr>
                               <td colspan="2">
                                  
                               </td>
                           </tr>
                        </tbody>
                    </table>
                
                    <h4>Address</h4>
                    <div class="well">
                        <address>
                            @Model.Address1
                            <br/>
                            @Model.Address2
                            <br/>
                            @Model.City
                            <br/>
                            @Model.PostCode
                            <br/>
                            @Model.Country
                            <br/>
                            @Model.PostCode
                            <br/>
                            <abbr title="Phone">Phone:</abbr> @Model.PersonalPhone

                        </address>
                        <address>
                            <strong>@(Model.FirstName + " " + Model.Surname)</strong><br/>
                            <a href="mailto:@Model.Email">@Model.Email</a>
                        </address>
                    </div>
                <div>
                      <button type="button" class="btn btn-success" onclick="NavigateTo('/Account/EditMyDetails/')">
                                        <i class="icon-pencil icon-white"></i> @Account.V_Edit_MyDetails
                                    </button>
                </div>
                </div>

            <div class="span3">
                <h4>@Account.V_Settings</h4>
                <ul class="icons push">
                    <li><i class="icon-hand-right"></i> <strong>@FormMessages.Label_Last_Visit</strong><br/><em>@Model.LastVisit</em><br/></li>
                    <li><i class="icon-hand-right"></i> <strong>@FormMessages.Label_Culture</strong><br/><em> @Model.ChoosenCulture</em><br/></li>
                    <li><i class="icon-hand-right"></i> <strong>@FormMessages.Label_Pref_Language</strong><br/><em>@Model.PreferedLanguage</em><br/></li>
                </ul>
                
                <h4>@Account.V_Logon_Details</h4>
                <ul class="unstyled">
                    <li> <strong>@FormMessages.Label_Username</strong>: @Model.UserName</li>
                    <li>
                        <strong>@FormMessages.Label_Password</strong>: 
                        <span id="pwSecret" >***********
                            <a href="javascript:void(0);"  class="danger" onclick="RevealPwd()">@Account.V_Show_Password</a>
                        </span> 
                        <span id="pwd"  style="display:none">
                            @CM.Security.Decrypt(Model.Password)
                            &nbsp;
                            <a href="javascript:void(0);" class="danger" onclick="HidePwd()">@Account.V_Hide_Password</a>
                        </span>

                    </li>
                </ul>
            </div>

            <div class="space5"></div>
       
        </div>

    </div>
</div>

</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/Site/Account.js" ></script>

}