@using totalhr.Resources;

@model totalhr.Shared.Models.UserPersonalInfo

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    
    ViewBag.Title = Account.V_Profile_View;
}

@section head2{
    <h2>@Account.V_Profile_View</h2>
}


<div class="formwrapper">       

    <div class="line">
        @if (!string.IsNullOrEmpty(Model.ProfilePicturePath))
        {
        <div class="block">                    
                <span><img src="@totalhr.web.Helpers.GenericHelper.GetProfilePictureUrl(Model.ProfilePicturePath)" 
                    alt="@(Model.FirstName + " " + Model.Surname)" /></span>                    
        </div>
        }else{
        
            <div class="block">
                 <img src="/Users/Profile/Images/unknown.png" alt="@(Model.FirstName + " " + Model.Surname)" />
            </div>
        }

        <div class="block">
			<label class="fix200W">@Account.V_Title:</label>
            <span>@Model.Title</span>
        </div>
        <div class="block">
			<label class="fix200W">@Account.V_Firstname:</label>
            <span>@Model.FirstName</span>
        </div>
        <div class="block">
			<label class="fix200W">@Account.V_Other_Names:</label>
            <span>@Model.MiddleNames</span>
        </div>
        <div class="block">
			<label class="fix200W">@Account.V_Surname:</label>
            <span>@Model.Surname</span>
        </div>
        <div class="block">
			<label class="fix200W">@Account.V_Email:</label>
            <span>@Model.Email</span>
        </div>
        <div class="block">
			<label class="fix200W">@Account.V_Phone:</label>
            <span>@Model.PersonalPhone</span>
        </div>
        <div class="block">
			<label class="fix200W">@Account.V_Mobile:</label>
            <span>@Model.MobilePhone</span>
        </div>
    </div>

</div>