@model totalhr.Shared.Models.NewUserInfo
@using totalhr.Resources;
@using totalhr.data.EF;
@using totalhr.Shared.Models;

@{
    ViewBag.Title = Common.Page_TT_Header_Registration;

    var languages = ViewBag.LanguageList as IEnumerable<ListItemStruct>;
    var genders = ViewBag.GenderList as List<Glossary>;
    var countries = ViewBag.CountryList as List<Glossary>;
    var titles = ViewBag.TitleList as List<Glossary>;

    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

@{Html.RenderPartial("_FormScripts");}



<div class="container">

<h1>@Common.Page_TT_Registration</h1>

    @using (Html.BeginRouteForm("Default", new { Controller = "Account", action = "RegisterUser" }))
    {

         @Html.ValidationSummary()

        <div class="control-wrap">
            
            <h4>@FormMessages.Title_Personal_Details</h4>

            <div class="control-group">
                <div class="controls">
                    <label class="control-label"></label>
                    <div class="controls">
                        
                    </div>
                </div>
            </div>
                
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Gender</label>
                    <div class="controls">@Html.DropDownListFor(x => x.GenderId,  new SelectList(genders, "RootId", "Term"))</div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Title</label>
                    <span class="controls">@Html.DropDownListFor(x => x.Title, new SelectList(titles, "RootId", "Term"), 
                                                new { onchange = string.Format("CheckOther(this, 'spOther', {0})", (int)totalhr.Shared.Variables.NamedGlossaryIds.OtherTitle) })
                        &nbsp;
                        <span id="spOther" style="display:none">@Html.TextBoxFor(x => x.OtherTitle , new { size = "20", maxlength = "30" })</span>
                    </span>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_First_Name</label>
                    <div class="controls">@Html.TextBoxFor(x => x.FirstName , new { size = "45", maxlength = "50" })</div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_MiddleName</label>
                    <div class="controls">@Html.TextBoxFor(x => x.MiddleNames, new {size="45", maxlength="50"})</div>
                    <span class="req"></span>
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Last_Name</label>
                    <div class="controls">@Html.TextBoxFor(x => x.Surname , new { size = "45", maxlength = "50" })</div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Email</label>
                    <div class="controls">@Html.TextBoxFor(x => x.Email , new { size = "45", maxlength = "150" })</div>
                    
                </div>                
                
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Address</label>
                    <div class="controls">@Html.TextBoxFor(x => x.Address1 , new { size = "45", maxlength = "250" })</div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">&nbsp;</label>
                    <div class="controls">@Html.TextBoxFor(x => x.Address2 , new { size = "45", maxlength = "250" })</div>
                    <span class="req"></span>
                </div>
                <div class="control-group">
                    <label class="control-label">&nbsp;</label>
                    <div class="controls">@Html.TextBoxFor(x => x.Address3 , new { size = "45", maxlength = "250" })</div>
                    <span class="req"></span>
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_City</label>
                    <div class="controls">@Html.TextBoxFor(x => x.City , new { size = "20", maxlength = "50" })</div>
                    
                </div>
                <div class="control-group" >
                    <label class="control-label">@FormMessages.Label_State</label>
                    <div class="controls">@Html.TextBoxFor(x => x.State , new { size = "20", maxlength = "50" })</div>
                    <span class="req"></span>
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_PostCode</label>
                    <div class="controls">@Html.TextBoxFor(x => x.PostCode , new { size = "10", maxlength = "20" })</div>
                    <span class="req"></span>
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Country</label>
                    <div class="controls">@Html.DropDownListFor(x => x.CountryId,  new SelectList(countries, "RootId", "Term"))</div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Phone</label>
                    <div class="controls">@Html.TextBoxFor(x => x.PersonalPhone, new { size = "20", maxlength = "20" })</div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Mobile</label>
                    <div class="controls">@Html.TextBoxFor(x => x.MobilePhone, new { size = "20", maxlength = "20" })</div>
                    <span class="req"></span>
                </div>
                
           
                
           

                <h4>@FormMessages.Title_Logon_Details</h4>

            <div class="control-group">
                <label class="control-label">@FormMessages.Label_Username</label>
                <div class="controls">@Html.TextBoxFor(x => x.UserName , new { size = "20", maxlength = "20", autocomplete ="off" })

                    @Html.CheckBoxFor(x => x.UseEmailAsUserName, new { onclick = "PullTextFrom(this, 'UserName', 'Email', 'hdnMSGEmailNotProvided')" }) &nbsp;
                    (@FormMessages.V_User_Email_As_UserName)

                    <input type="hidden" id="hdnMSGEmailNotProvided" value="@FormMessages.Error_Email_Needs_To_Be_Provided" />
                </div>
            </div>

                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Password</label>
                    <div class="controls">@Html.PasswordFor(x => x.Password , new { size = "20", maxlength = "15", autocomplete ="off" })</div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Password_Confirm</label>
                    <div class="controls">@Html.PasswordFor(x => x.PasswordConfirm , new { size = "20", maxlength = "15", autocomplete ="off" })</div>
                    
                </div>                
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Pref_Language</label>
                    <div class="controls">@Html.DropDownListFor(x => x.PreferedLanguageId,  new SelectList(languages, "Id", "Name"))</div>
                    <span class="req"></span>
                </div>
                
         

                <h4>
                    @FormMessages.Title_Company_Details
                </h4>

                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Company_Name</label>
                    <div class="controls">@Html.TextBoxFor(x => x.CompanyName , new { size = "30", maxlength = "100" })</div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_CompanyEmail</label>
                    <div class="controls">@Html.TextBoxFor(x => x.CompanyEmail , new { size = "45", maxlength = "150" })</div>
                    
                </div>                
                
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_CompanyAddress</label>
                    <div class="controls">@Html.TextBoxFor(x => x.CompanyAddress1 , new { size = "45", maxlength = "250" })</div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">&nbsp;</label>
                    <div class="controls">@Html.TextBoxFor(x => x.CompanyAddress2 , new { size = "45", maxlength = "250" })</div>
                    <span class="req"></span>
                </div>
                <div class="control-group">
                    <label class="control-label">&nbsp;</label>
                    <div class="controls">@Html.TextBoxFor(x => x.CompanyAddress3 , new { size = "45", maxlength = "250" })</div>
                    <span class="req"></span>
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_City</label>
                    <div class="controls">@Html.TextBoxFor(x => x.CompanyCity , new { size = "20", maxlength = "50" })</div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_State</label>
                    <div class="controls">@Html.TextBoxFor(x => x.CompanyState , new { size = "20", maxlength = "50" })</div>
                    <span class="req"></span>
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_PostCode</label>
                    <div class="controls">@Html.TextBoxFor(x => x.CompanyPostCode , new { size = "10", maxlength = "20" })</div>
                    <span class="req"></span>
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Country</label>
                    <div class="controls">@Html.DropDownListFor(x => x.CompanyCountryId,  new SelectList(countries, "RootId", "Term"))</div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Phone1</label>
                    <div class="controls">@Html.TextBoxFor(x => x.CompanyPhone1, new { size = "20", maxlength = "20" })</div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Phone2</label>
                    <div class="controls">@Html.TextBoxFor(x => x.CompanyPhone2, new { size = "20", maxlength = "20" })</div>
                    <span class="req"></span>
                </div>


                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Tax_Id</label>
                    <div class="controls">@Html.TextBoxFor(x => x.TaxID , new { size = "20", maxlength = "50" })</div>
                    <span class="req"></span>
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_VAT_Id</label>
                    <div class="controls">@Html.TextBoxFor(x => x.VATID , new { size = "20", maxlength = "50" })</div>
                    <span class="req"></span>
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_CompanyNumber</label>
                    <div class="controls">@Html.TextBoxFor(x => x.CompanyNumber , new { size = "20", maxlength = "50" })</div>
                    <span class="req"></span>
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_CompanyNoOfEmployees</label>
                    <div class="controls">@Html.TextBoxFor(x => x.CompanyNoEmployees , new { size = "20", maxlength = "50" })</div>
                    
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_CompanyType</label>
                    <div class="controls">@Html.TextBoxFor(x => x.CompanyType , new { size = "20", maxlength = "50" })</div>
                    <span class="req"></span>
                </div>
                <div class="control-group">
                    <label class="control-label">@FormMessages.Label_Annual_Revenue</label>
                    <div class="controls">@Html.TextBoxFor(x => x.AnnualRevenue , new { size = "20", maxlength = "50" }) (USD)</div>
                    
                </div>
         

            <div class="line">
                <label>@Html.CheckBoxFor(x => x.TermsAccepted)</label>
                <span class="terms">@FormMessages.MSG_Terms_Of_Service</span>
                <span class="req"></span>
            </div>
            <div class="line">
                <label>&nbsp;</label>
                <span>
                    <input type="button" value="@FormMessages.btn_Cancel" onclick="javascript: history.back(-1);" /> &nbsp;
                    <input type="submit" value="@FormMessages.btn_Register" /></span>
                <span class="req"></span>
            </div>
            <div class="line">&nbsp;</div>
        </div>
            <br /><br />
           
    }
</div>


